<% content_for :page_icon do %>
  <i class="fa fa-bars custom_icon" aria-hidden="true"></i>
<% end %>
<%= render(partial:'partial_pages/common_page', locals: {listing_header: 'Job Types List', form_header: 'Add Job Type', action: 'job_types'}) %>