<% content_for :page_icon do %>
  <i class="fa fa-files-o custom_icon" aria-hidden="true"></i>
<% end %>
<%= render(partial:'partial_pages/common_page', locals: {listing_header: 'File Types List', form_header: 'Add File Type', action: 'file_types'}) %>