<% content_for :page_icon do %>
  <i class="fa fa-folder-open custom_icon" aria-hidden="true"></i>
<% end %>
<%= render(partial:'partial_pages/common_page', locals: {listing_header: 'Academic Abilities List', form_header: 'Add Academic Ability', action: 'academic_abilities'}) %>