<!DOCTYPE html>
<html>
<head><meta content='text/html; charset=UTF-8' http-equiv='Content-Type' /></head>
<body>
    <div align="center">
        <table bgcolor="#BE382E" width="100%" border="0" cellspacing="0" cellpadding="0" style="padding: 20px 20px 0 20px;">
          <tbody>
          <tr>
            <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif; font-size:40px; color:#ffffff; padding: 30px 0 30px 0px;">
              PWW | Application Error Email
            </td>
          </tr>
          </tbody>
        </table>

        <table bgcolor="#FAFAFA" width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
              <img src="http://peopleworldwide.jp/en/wp-content/uploads/2015/03/PWJ_logo_333.png" height="55px" />
              <br />     
              <h1 style="text-transform: capitalize; padding-left:10px;">Hi, Administrator!</h1>              
              <p style="font-size: 15px; padding-left:10px;">This is an email notification regarding Application Email Errors.</p>                
              <p style="font-size: 16px; padding-left:10px;">Below is the complete error information.</p>
              <p style="font-size: 19px; padding-left:10px;"><b><%= @message %></p>
              <p style="font-size: 16px; padding-left:10px;">Thanks you very much and have a great day!</p>
            </td>
          </tr>
        </table>
    </div>
</body>
</html>