<!DOCTYPE html>
<html>
<head><meta content='text/html; charset=UTF-8' http-equiv='Content-Type' /></head>
<body>
  <div align="center">
    <table bgcolor="#BE382E" width="100%" border="0" cellspacing="0" cellpadding="0" style="padding: 20px 20px 0 20px;">
      <tbody>
      <tr>
        <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif; font-size:40px; color:#ffffff; padding: 30px 0 30px 0px;">
          People Worldwide Japan | Job Order Notification Email
        </td>
      </tr>
      </tbody>
    </table>

    <table bgcolor="#F0F0F0" width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td style="color: #000;">
          <br />
          <img src="http://peopleworldwide.jp/en/wp-content/uploads/2015/03/PWJ_logo_333.png" height="55px" style="padding-left: 7px;" />
          <br />
          <h1 style="padding-left:20px; text-transform: capitalize;">Hi, <%= @project.client.try(:fullname) %>!</h1>              
          <p style="padding-left:20px; font-size: 15px;">This is an email notification regarding Job Order assigned to you.</p>                
          <p style="padding-left:20px; font-size: 15px;">Below is the Job Order information. Please see attachment for further information.</p>              
        </td>
      </tr>
    </table>

    <table bgcolor="#F0F0F0" width="100%" border="0" cellspacing="0" cellpadding="0" style="padding: 20px 20px 0 20px; width: 100%;">
      <thead>
        <th style="text-align: left; vertical-align: 'middle'; background-color: #BE382E; color: #fff; border-bottom: 2px solid #ECECEC; padding: 7px 0 10px 7px;">Project Title</th>
        <th style="text-align: left; vertical-align: 'middle'; background-color: #BE382E; color: #fff; border-bottom: 2px solid #ECECEC; padding: 7px 0 10px 0;">Needed Applicants</th>
        <th style="text-align: left; vertical-align: 'middle'; background-color: #BE382E; color: #fff; border-bottom: 2px solid #ECECEC; padding: 7px 0 10px 0;">Description</th>
      </thead>
      <tbody>
        <tr><td colspan="3" height="5px"></td></tr>
        <tr>
          <td style="vertical-align: top; text-transform: capitalize; font-size: 14px; font-weight: bold; padding-left: 7px; width: 100px;"><%= @project.title %></td>
          <td style="vertical-align: top; text-transform: capitalize; font-size: 14px; font-weight: bold; width: 100px;"><%= @project.no_of_needed_applicants %></td>
          <td style="vertical-align: top; text-transform: capitalize; font-size: 14px; font-weight: bold; width: 400px;"><%= raw(@project.description) %></td>
        </tr>
        <tr><td colspan="3" height="20px"></td></tr>
        <tr>
          <td colspan="3"><p style="font-size: 16px; padding-bottom:10px;">Thanks you very much and have a great day!</p></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>