 <table class="table table-striped table-bordered table-hover" id="makeDataTable" style="font-size: 13px;">
  <thead>
    <tr>
      <th style="width: 1%"><%= check_box 'applicant', 'select_all', {checked: true}, true, false %></th>
      <th style="width: 3%">画像<br>Profile</th>
      <% if action_name == 'view_project_applicants' %><th style="width: 4%">コード<br>Code</th><% end %>
      <% if action_name != 'view_project_applicants' %><th style="width: 11%">プロジェクト<br>Project</th><% end %>
      <th style="width: 11%">名前<br>Name</th>
      <th style="width: 5%">性別<br>Gender</th>
      <% if session[:role] == 'client' %>
        <th style="width: 6%">生年月日<br>Birthdate</th>
      <% else %>
        <th style="width: 6%">選考状況<br>Status</th>
      <% end %>
      <th style="width: 4%">年齢<br>Age</th>
      <th style="width: 6%">出生国<br>Country</th>
      <th style="width: 8%">婚姻状況<br>Marital Status</th>
      <th style="width: 10%">最終学歴<br>Academic</th>
      <th style="width: 9%">学力調査<br>Academic Score</th>
      <th style="width: 8%">職業適性診断<br>Skill Score</th>
      <th style="width: 6%">宗教<br>Religion</th>
      <th class="text-center">行動<br>Actions</th>
    </tr>
  </thead>
  <tbody>                          
  <% applicants.each do |a| %>
    <tr>
      <td><%= check_box 'applicant', '', {checked: true}, a.id, false %></td>
      <td><%= image_tag(a.profile.url, class: 'height_width50', title: "registered #{time_ago_in_words(a.created_at)} ago") %></td>
      <% if action_name == 'view_project_applicants' %><td><%= a.custom_code %></td><% end %>
      <% if action_name != 'view_project_applicants' %><td><%= a.project.try(:title) || '-' %></td><% end %>
      <td><%= a.name %></td>
      <td><%= raw(helper_gender(a.gender ))%></td>
      
      <% if session[:role] == 'client' %>
        <td><%= a.birth_date %></td>
      <% else %>
        <td><%= raw(to_break(helper_progress_status(a.status))) %></td>
      <% end %>
      
      <td><%= a.age %></td>
      <td><%= raw(to_break(a.country.try(:combine_jp_and_en_name))) %></td>
      <td><%= raw(helper_martial_status(a.marital_status)) %></td>
      <td><%= raw(helper_last_academic(a.last_academic)) %></td>
      <td class="text-center"><%= a.applicant_academic_abilities.get_academic_ability(helper_default_academic_ability(params[:academic_ability])) %>/100</td>
      <td class="text-center"><%= a.applicant_aptitude_tests.get_aptitude_test(helper_default_aptitude_test(params[:aptitude_test])) %>/100</td>
      <td><%= raw(to_break(a.religion.try(:combine_jp_and_en_name))) %></td>
      <td class="text-center">
        <% if can? :update, a %>
          <a href="<%= edit_applicant_path(a, :locale => I18n.locale) %>" data-toggle="tooltip" title="View full info"><%= image_tag("/assets/icons/user.png", class: 'applicants_link') %></a>
        <% end %>

        <% if session[:role] == 'partner' %>
          <a href="#" data-id="<%= a.id %>" class='request_for_delete_applicant' data-toggle="tooltip" title="Request for Deletion"><%= image_tag("/assets/icons/request_deletion.png", class: 'applicants_link') %></a>                
        <% end %>
                
        <a href="<%=a.self_introduction_video_link%>" target="_blank" data-toggle="tooltip" title="自己紹介動画 / Self introducing video"><%= image_tag("/assets/icons/self_intro.png", class: 'applicants_link') %></a>

        <a href="<%=a.aptitude_test_link%>" target="_blank" data-toggle="tooltip" title="職業適性診断実施動画/Skill check video"><%= image_tag("/assets/icons/video.png", class: 'applicants_link') %></a>

        <a href="<%=a.psychometric_test_link%>" target="_blank" data-toggle="tooltip" title="適性診断結果 / Psychometric test result"><%= image_tag("/assets/icons/psychometric.png", class: 'applicants_link') %></a>

        <a href="/<%= I18n.locale %>/generate_applicant_report.pdf?id=<%=a.id%>" data-toggle="tooltip" target="_blank" title="Download PDF"><%= image_tag("/assets/icons/pdf.png", class: 'applicants_link') %></a>

        <% if session[:role] == 'client' %>
          <a href="#" class="make_comments" id='<%= a.id %>' data-isShow='<%= a.show_client_comments %>' data-name='<%= a.name %>' data-comment='<%=a.client_comments %>' title="注釈 / Comments"><%= image_tag("/assets/icons/comments.png", class: 'applicants_link') %></a>
        <% end %>
        
        <% if can? :destroy, a %>
        <a href="/<%= I18n.locale %>/project_history?id=<%=a.id%>" data-toggle="tooltip" title="Project History"><%= image_tag("/assets/icons/history.png", class: 'history_link') %></a>
        <a href="#" data-id="<%= a.id %>" class='delete_applicant' data-toggle="tooltip" title="Delete applicant"><%= image_tag("/assets/icons/delete.png") %></a>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>