<div class="modal fade" id="modal_report_chooser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-center" style="margin-top: 140px;">      
      <div class="fade in margin_btm30" role="alert">
        <h2 class="are_you_sure"></h2>        
        <div class="text-center"><b class="are_you_sure_description"></b></div>
        <div style="width: 100%; margin-top: 30px; margin-bottom: 30px;" class="text-center">
          
          <div class="text-left" style="margin: 0 auto 0 auto; width: 300px;">
            <label><b>PDF Report Type:</b></label>
            <select class='form-control' id="report_type">
              <option value="full">一覧表/Full List Report</option>
              <option value="individual">個別レジュメ/Individual Report</option>
            </select>            

            <div id="skill_test_selection">
              <label><b>Skill Test Score:</b></label>
              <%= collection_select('aptitude', :id, AptitudeTest.all, :id, :combine_jp_and_en_name, {prompt: false}, {class:'form-control'}) %>
            </div>
          </div>
          <br>
        </div>
        <button id="generate_report" data-id="" type="button" class="btn btn-lg btn-danger btn_modal_report"><%=t :generate_report %></button>
        &nbsp;&nbsp;&nbsp;
        <button id="no_cancel" type="button" class="btn btn-lg btn-warning btn_modal_report"><%=t :no_cancel %></button>        
      </div>
    </div>
  </div>
</div>