<div style="text-align: left; padding: 0; margin: 0;">
  <table class="listing_table" cellpadding="0" cellspacing="0">
    <% @applicants.each do |applicant| %>
    <tr style="page-break-inside: avoid; display: inline-block;">
      <td class="table_content_body" style="width: 70px;">
        <%= !applicant.custom_code.blank? ? applicant.custom_code : "#{applicant.country.try(:country_code)}#{custom_id(applicant.id)}" %>
      </td>
      <td class="table_content_body" style="width: 48px; height: 40px;">
      <% unless applicant.profile_file_name.blank? %>
        <%= wicked_pdf_image_tag applicant.profile.url(:medium).gsub('https', 'http'), :style => "height: 40px; width: 40px; padding-top: 3px;" %>
      <% else %>
        <%= wicked_pdf_image_tag 'default_avatar.jpg', :style => "height: 40px; width: 40px; padding-top: 3px;" %>
      <% end %>
      </td>
      <td class="table_content_body" style="width: 120px;"><%= applicant.name %></td>
      <td class="table_content_body" style="width: 50px;"><%= raw(helper_gender(applicant.gender)) %></td>
      <td class="table_content_body" style="width: 67px;"><%= raw(to_break(applicant.country.try(:combine_jp_and_en_name))) %></td>
      <td class="table_content_body" style="width: 40px;"><%= applicant.age %></td>
      <td class="table_content_body" style="width: 50px;"><%= raw(helper_martial_status(applicant.marital_status)) %></td>
      <td class="table_content_body" style="width: 135px;"><%= raw(helper_last_academic(applicant.last_academic)) %></td>
      <td class="table_content_body" style="width: 70px;"><%= raw(helper_is_work_related(applicant.is_work_related_expirience)) %></td>
      <td class="table_content_body" style="width: 51px;"><%= raw(helper_english_skill(applicant.english_skill)) %></td>
      <td class="table_content_body" style="width: 50px;"><%= applicant.get_aptitude_score(params[:skill]) %></td>
      <td class="table_content_body" style="width: 56px;"><%= raw(applicant.applicant_academic_ability_score('pwa japanese skill test')) %></td>
      <td class="table_content_body" style="width: 51px;"><%= raw(applicant.applicant_academic_ability_score('iq test')) %></td>
      <td class="table_content_body no_border_right" style="width: 153px;"><%= applicant.short_notes %></td>
    </tr>
    <% end %>
  </table>
</div>