<% content_for :include_styles do %>
  <%= stylesheet_link_tag "dataTables.bootstrap.css" %>
  <%= stylesheet_link_tag "dataTables.responsive.min.css" %>
<% end %>

<% content_for :include_scripts do %>
  <%= javascript_include_tag "jquery.dataTables.min.js" %>
  <%= javascript_include_tag "dataTables.bootstrap.min.js" %>
  <%= javascript_include_tag "dataTables.responsive.min.js" %>
  <%= javascript_include_tag "modal_confirmation_function.js" %>
  <%= javascript_include_tag "search.js" %>
<% end %>

<% content_for :page_icon do %>
  <i class="fa fa-search custom_icon" aria-hidden="true"></i>
<% end %>

<% content_for :body do %>
  <!-- Filters -->
  <div class="row">
    <div class="col-lg-12 pad0">
      <div class="panel panel-default">
        <div class="panel-heading text-uppercase pad-right0">
          <strong>Advanced Filter Options</strong>
          <div class="search_right_options">
            <a href="#" class="reset_filters"><i class="fa fa-refresh"></i> Reset Filters</a>
            <button type="button" class="btn_collapse" data-toggle="collapse" data-target="#form-filters-holder"><i class="glyphicon glyphicon-chevron-up"></i></button>
          </div>
        </div>            
        <div class="panel-body collapse in" id="form-filters-holder">
          <%= form_tag(search_applicants_url(locale: I18n.locale), id: :search_form, method: :post) do %>
            <div class="col-lg-12 bs-callout bs-callout-danger">              
              <!-- Column 1 -->
              <div class="col-lg-3">
                <div class="form-group margin_bottom5">
                  <label class="search_labels">名前/Name:</label>
                  <%= text_field_tag "applicant_name", params[:applicant_name], {class: 'form-control user_input', placeholder: "名前/Name"} %>
                </div>

                <div class="form-group margin_bottom5">
                  <label class="search_labels">性別/Gender:</label>
                  <%= select_tag "gender", options_for_select([ ['All', nil],  ['男性/Male', 'Male'],['女性/Female', 'Female'] ], params[:gender]), class: 'form-control' %>
                </div>
                
                <div class="form-group margin_bottom5">
                  <label class="search_labels">選考状況/Applicant Status:</label>
                  <%= select_tag "status", options_for_select([ ['All', nil], "In-progress", "Waiting", "Failed", "Confirmed" ], params[:status]), class: 'form-control' %>
                </div>
              </div>

              <!-- Column 2 -->
              <div class="col-lg-3">
                <div class="form-group margin_bottom5">
                  <label class="search_labels">年齢/Age:</label><br>
                  <div class="row margin0">
                    <div class="col-md-5 pad0"><%= text_field_tag :age_from, params[:age_from], {class: 'form-control user_input no_radius_right', placeholder: "Min age"} %></div>
                    <div class="col-md-2 pad0 text-center"><div class="age_middle">TO</div></div>
                    <div class="col-md-5 pad0"><%= text_field_tag :age_to, params[:age_to], {class: 'form-control user_input no_radius_left', placeholder: "Max age"} %></div>
                  </div>
                </div>

                <div class="form-group margin_bottom5">
                  <label class="search_labels">国籍/Nationality:</label>
                  <%= select_tag "country", options_for_select(@countries.collect{ |c| ["#{c.jp_name}/#{c.en_name}", c.id]}, params[:country]), include_blank: 'All', class: 'form-control' %>
                </div>

                <div class="form-group margin_bottom5">
                  <label class="search_labels">婚姻状況/Marital Status:</label>
                  <%= select_tag "marital_status", options_for_select([ ['All', nil], "Single", "Married" ], params[:marital_status]), class: 'form-control' %>
                </div>
              </div>

              <!-- Column 3 -->          
              <div class="col-lg-3">
                <div class="form-group margin_bottom5">
                  <label class="search_labels">英語/English Speaking Skills:</label>
                  <%= select_tag "english_skill", options_for_select([ ['All', nil], 
                    ['日常会話/Conversational', 'Conversational'],
                    ['ビジネス/Business', 'Business'],
                    ['ネイティブ/Native', 'Native'],
                    ['無し / No', 'No']
                  ], params[:english_skill]), class: 'form-control' %>
                </div>              
                <div class="form-group margin_bottom5">
                  <label class="search_labels">日本語能力検定/JLPT Level:</label>
                  <%= select_tag "jlpt_level", options_for_select([
                     ["All", nil],
                     ['N1', 'N1'],
                     ['N2', 'N2'],
                     ['N3', 'N3'],
                     ['N4', 'N4'],
                     ['N5', 'N5'],
                     ['日常会話 / Conversational', 'Conversational'],
                     ['無し / No', 'No']
                    ], 
                    params[:jlpt_level]), class: 'form-control'
                  %>
                </div>

                <div class="form-group margin_bottom5">
                  <label class="search_labels">今回の応募職種での職務経験/Work experience of the job:</label>
                  <%= select_tag "is_work_related_expirience", options_for_select([ ["All",nil], ["できる・はい/Yes","1"], ["できない・いいえ/No","0"] ], params[:is_work_related_expirience]), class: 'form-control' %>
                </div>
              </div>

              <!-- Column 4 -->
              <div class="col-lg-3">
                <div class="form-group margin_bottom5">
                  <label class="search_labels">宗教/Religion:</label>
                  <%= select_tag "religion", options_for_select(@religions.collect{ |c| [c.try(:combine_jp_and_en_name), c.id]}, params[:religion]), include_blank: 'All', class: 'form-control' %>
                </div>

                <div class="form-group margin_bottom5">
                  <label class="search_labels">最終学歴/Last Academic Background:</label>
                  <%= select_tag "last_academic", options_for_select([ ['All', nil], 
                   ['高校中退/High school drop out', 'High school drop-out'],
                   ['高校卒業/High school graduate', 'High school graduate'],                   
                   ['短期大学卒業/Junior college graduated', 'Junior college graduated'],                   
                   ['中学卒業/Junior school graduate', 'Junior school graduate'],
                   ['中学中退/Junior school drop out', 'Junior school drop out'],
                   ['大学卒業/University graduate', 'University graduate'],
                   ['大学中退/University drop out', 'University drop-out'],
                   ['専門学校卒業/Vocational school graduated', 'Vocational school graduated'],
                   ['専門学校中退/Vocational school drop out', 'Vocational school drop out']
                  ], params[:last_academic]), class: 'form-control' %>                
                </div>
              </div>
            </div>
            
            <div class="col-lg-12 bs-callout border_bottom_custom">              
              <div class="col-lg-3">
                <div class="form-group margin_bottom5">
                  <label class="search_labels">学力調査/Academic Ability:</label>
                  <%= select_tag "academic_ability", options_for_select(@academic_abilities.collect{ |c| [c.try(:combine_jp_and_en_name), c.id]}, params[:academic_ability]), include_blank: false, class: 'form-control' %>
                </div>

                <div class="form-group margin_bottom5">
                  <label class="search_labels"> スコア/Score:</label>
                  <div class="row margin0">
                    <div class="col-md-5 pad0">
                      <%= text_field_tag "academic_score_from", params[:academic_score_from], {class: 'form-control user_input no_radius_right', placeholder: "Min score"} %>
                    </div>
                    <div class="col-md-2 pad0 text-center"><div class="score_middle">TO</div></div>
                    <div class="col-md-5 pad0">
                      <%= text_field_tag "academic_score_to", params[:academic_score_to], {class: 'form-control user_input no_radius_left', placeholder: "Max score"} %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3">
                <div class="form-group margin_bottom5">
                  <label class="search_labels">職業適性診断/Skill Check:</label>
                  <%= select_tag "aptitude_test", options_for_select(@aptitude_tests.collect{ |c| [c.try(:combine_jp_and_en_name), c.id]}, params[:aptitude_test]), include_blank: false, class: 'form-control' %>
                </div>
                
                <div class="form-group margin_bottom5">
                  <label class="search_labels">スコア/Score:</label>
                  <div class="row margin0">
                    <div class="col-md-5 pad0">
                      <%= text_field_tag "aptitude_score_from", params[:aptitude_score_from], {class: 'form-control user_input no_radius_right', placeholder: "Min score"} %>
                    </div>
                    <div class="col-md-2 pad0 text-center"><div class="score_middle">TO</div></div>
                    <div class="col-md-5 pad0">
                      <%= text_field_tag "aptitude_score_to", params[:aptitude_score_to], {class: 'form-control user_input no_radius_left', placeholder: "Max score"} %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3">
                <% if session[:role] == 'admin' %>
                  <div class="form-group margin_bottom5">
                    <label class="search_labels">クライアント/Client:</label>
                    <%= select_tag "client", options_for_select(User.clients.collect{ |c| [c.fullname, c.id]}, params[:client]), include_blank: 'All', class: 'form-control' %>
                  </div>
                  <div class="form-group margin_bottom5">
                    <label class="search_labels">パートナー/Partner:</label>
                    <%= select_tag "partner", options_for_select(User.partners.collect{ |c| [c.fullname, c.id]}, params[:partner]), include_blank: 'All', class: 'form-control' %>
                  </div>
                <% end %>
              </div>

              <div class="col-lg-3">
                <div class="form-group margin_bottom5">
                  <label class="search_labels">プロジェクト/Project:</label>
                  <%= select_tag "project", options_for_select(@projects.collect{ |c| [c.title, c.id]}, params[:project]), include_blank: 'All', class: 'form-control' %>
                </div>
                <div class="form-group margin_bottom5">
                  <div style="display: inline-block; width: 100%;"><%= submit_tag 'Search Now', id: 'report_btn_filter', class: 'btn btn-danger btn-lg search_icon' %></div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <br/>
  <br/>

  <%= render partial: 'partial_pages/icons_legend' %>

  <!-- Listing of Results -->
  <div class="row">
    <div class="col-lg-12 pad0" style="margin-bottom: 100px;">
      <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-6"><strong>Search Result | List of Applicants (<%= @applicants.count %>)</strong></div>
              <div class="col-md-6 text-right">
                <div class="pdf_excel_wrapper">
                  <a id="generate_pdf" class="pdf_icon_holder" href="#" target="_blank" title="Generate PDF Report">
                    <%= image_tag("/assets/icons/pdf_icon_big.png") %>
                  </a>
                  &nbsp;
                  <a id="generate_excel" class="csv_icon_holder" href="#" target="_blank" title="Generate Excel Report">
                    <%= image_tag("/assets/icons/excel.png") %>
                  </a>
                  &nbsp;
                </div>
              </div>
            </div>
          </div>        
          <div class="panel-body">
              <div class="table-responsive">
                <div class="dataTable_wrapper" id="search_listing">
                  <%= render partial: 'search/listing', locals: {applicants: @applicants}  %>
                  
                  <% if @applicants.empty? %>
                    <div class="no_result_found"></div>
                  <% end %>
                </div>
            </div>
          </div>        
      </div>
    </div>
  </div>

  <!-- Modal for Selecting What Report Type & Aptitude test will be shown -->
  <%= render partial: 'search/modal_report_chooser' %>
<% end %>