<!-- Applicant Upload Files -->
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading with_parent_tab text-uppercase"><strong>ファイルをアップロード / Upload Files *</strong></div>        
        <div class="panel-body">
            <div class="table-responsive">                
                <table id="table_applicant_files" class="table table-bordered table-hover">
                    <thead>
                        <th class="td_bg" style="width: 30%">タイプ / Type</th>
                        <% if action_name == 'edit' || action_name == 'update' %>
                            <th class="td_bg" style="width: 10%">ファイル / File</th>
                        <% end %>
                        <th class="td_bg" style="width: 30%; max-width: 450px;">ファイル選択 / Select File &nbsp;
                          <%= image_tag(icon_for('docx'), style: 'height: 20px', title: 'Word Document') %>
                          <%= image_tag(icon_for('pdf'), style: 'height: 20px', title: 'PDF Document') %>
                          <%= image_tag(icon_for('png'), style: 'height: 20px', title: 'Image Document') %>
                        </th>
                        <th class="td_bg" style="width: 30%">説明 / Description (optional)</th>
                        <th class="td_bg text-center" style="width: 5%;">Action</th>
                    </thead>
                    <tbody>
                        <%= f.fields_for :applicant_files do |applicant_file_field| %>
                            <%= render partial: 'applicant_file_fields', locals: {f: applicant_file_field} %>
                        <% end %>
                        <tr class="text-right">
                            <td colspan="5">
                                <p class="btn btn-primary white"><%= link_to_add_fields "ADD", f, :applicant_files %></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>