<tr class="fields">
  <td>
    <%= f.input :file_type_id, 
                collection: @file_types, 
                label_method: :combine_jp_and_en_name,
                value_method: :id,
                label: false,
                include_blank: '-select here-',
                input_html: {:class => "form-control"}
    %>
  </td>
  <% if action_name == 'edit' || action_name == 'update' %>
  <td>
    <% unless f.object.document_file_name.blank? %>
      <%= image_tag(icon_for(File.extname(f.object.document.url)), style: 'height: 20px') %>&nbsp;
      <%= link_to f.object.document_file_name, f.object.document.url, target: "_blank" %>
    <% else %>
      -No File-
    <% end %>
  </td>
  <% end %>
  <td><%= f.file_field :document, class: 'file', data: {'preview-file-type': 'text', 'show-upload': 'false'} %></td>
  <td><%= f.text_area :description, :class => "form-control", :placeholder => "Description (optional)", rows: '2' %></td>
  <td class="text-center">
      <a href="#" onclick="remove_fields(this); return false;"><i class='glyphicon glyphicon-remove remove_added font20'></i></a>
      <!-- <#%= link_to_remove_fields "Remove", f %> -->
  </td>
</tr>