<tr class="fields">
    <td>
       <%= f.input :aptitude_test_id,
        collection: @aptitude_tests,
        label_method: :combine_jp_and_en_name,
        value_method: :id,
        label: false,
        include_blank: '-select here-'
        # selected: f.object.aptitude_test_id
      %>
    </td>    
    <td><%= f.input :score, input_html: {type: 'number', min: '0', class: 'form-control', placeholder: "/100"}, label: false %></td>
    <!-- <td class="text-center"><#%= f.input :show_in_report, :input_html => { class: 'check_show_in_report' }, label: false %></td> -->
    <td class="text-center">
        <a href="#" onclick="remove_fields(this); return false;"><i class='glyphicon glyphicon-remove remove_added font20'></i></a>
    </td>
</tr>