<tr class="fields">
    <td>
        <%= f.input :academic_ability_id, 
        collection: @academic_abilities, 
        label_method: :combine_jp_and_en_name, 
        value_method: :id, 
        label: false, 
        include_blank: '-select here-'
        # selected: f.object.academic_ability_id
        %>
    </td>
    <td><%= f.input :score, input_html: {type: 'number', min: '0', class: 'form-control', placeholder: "/100"}, label: false %></td>
    <td class="text-center">
        <a href="#" onclick="remove_fields(this); return false;"><i class='glyphicon glyphicon-remove remove_added font20'></i></a>
    </td>
</tr>