<div class="col-lg-12">
    <!-- Basic Infomation -->
    <div class="panel panel-default">
        <div class="panel-heading with_parent_tab text-uppercase"><strong>基本情報 / Basic Information *</strong></div>
        
        <div class="panel-body">
            <div class="table-responsive">
                <table id="table_basic_information" class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td class="td_bg" style="width: 20%">名前/Name:</td>
                            <td  style="width: 30%">
                                <%= f.input :name, input_html: { class: 'form-control', :placeholder => "Name *", autocomplete: 'off' }, label: false %>
                            </td>                                    
                            <td class="td_bg" style="width: 20%">婚姻状況/Marital Status:</td>
                            <td style="width: 30%">
                            <%= f.input :marital_status, collection: [
                                 ['独身/Single', 'Single'],
                                 ['既婚/Married', 'Married'],
                                 ['離婚/Divorced', 'Divorced'],
                                 ['未亡人/Widowed', 'Widowed']
                                ],
                                input_html: {class: 'form-control'},
                                include_blank: '-select here-',
                                label: false
                            %>
                            </td>                                    
                        </tr>
                        <tr>
                            <td class="td_bg">性別/Gender:</td>
                            <td>
                            <%= f.input :gender, :collection => [
                                 ['男性/Male', 'Male'],['女性/Female', 'Female']
                                ],
                                input_html: {class: 'form-control'},
                                include_blank: '-select here-', label: false 
                            %>
                            </td>                                 
                            <td class="td_bg">最終学歴/Last Academic Background:</td>
                            <td>
                            <%= f.input :last_academic, collection: [
                                 ['高校中退/High school drop out', 'High school drop-out'],
                                 ['高校卒業/High school graduate', 'High school graduate'],
                                 ['短期大学卒業/Junior college graduated', 'Junior college graduated'],                                 
                                 ['中学卒業/Junior school graduate', 'Junior school graduate'],
                                 ['中学中退/Junior school drop out', 'Junior school drop out'],
                                 ['大学中退/University drop out', 'University drop-out'],
                                 ['大学卒業/University graduate', 'University graduate'],
                                 ['専門学校卒業/Vocational school graduated', 'Vocational school graduated'],
                                 ['専門学校中退/Vocational school drop out', 'Vocational school drop out']
                                ], input_html: {class: 'form-control'},
                                include_blank: '-select here-',
                                label: false
                            %>                                  
                            </td>
                        </tr>
                        <tr>
                            <td class="td_bg">生年月日/Date of Birth (Y/M/D):</td>
                            <td>
                            <!-- <#%= f.input :birth_date, as: :date, 
                             start_year: Date.today.year - 90,
                             end_year: Date.today.year - 12, 
                             discard_day: false, 
                             order: [:month, :day, :year], 
                             label: false,
                             input_html: {class: 'form-control'}
                            %> -->
                                <div class='input-group date' id='birth_date'>
                                    <%= f.input :birth_date,  input_html: {class: 'form-control', :placeholder => "Birth Date (YYYY/MM/DD) *"}, label: false %>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </td>
                            <td class="td_bg">宗教/Religion:</td>
                            <td>                            
                            <%= f.input :religion_id, collection: @religions, label_method: :combine_jp_and_en_name, value_method: :id, label: false, include_blank: '-select here-' %>
                            </td>
                        </tr>
                        <tr>
                            <td class="td_bg">年齢/Age:</td>
                            <td>
                                <input type="text" readonly="" id="your_age" tabindex="30" class="form-control bold" value="<%= @applicant.age %>" />
                                <%= f.input :age, input_html: { type: 'number', :class => "form-control bold hidden"}, label: false %>
                            </td>
                            <td class="td_bg">利き手/Dominant Hand:</td>
                            <td>
                            <%= f.input :dominant_hand, :collection => [
                                 ['右/Right', 'Right'],
                                 ['左/Left', 'Left'],
                                 ['両利き/Ambidextrous', 'Ambidextrous']
                                ],
                                input_html: {class: 'form-control'},
                                include_blank: '-select here-', label: false 
                            %>
                            </td>
                        </tr>
                        <tr>
                            <td class="td_bg">身長/Height (cm):</td>
                            <td>
                                <!-- <#%= f.input :height, :collection => (100..250).to_a.map{|i| ["#{i} cm", i]}, label: false, include_blank: '-select here-'  %> -->
                                <%= f.text_field :height, :class => "form-control ", type: 'number', min: '0', :placeholder => "Height in cm *" %>
                            </td>
                            <td class="td_bg">出生国/Country of Birth:</td>
                            <td>
                            <%= f.input :country_id, collection: @countries, label_method: :combine_jp_and_en_name, value_method: :id, label: false, include_blank: '-select here-' %>
                            </td>
                        </tr>
                        <tr>
                            <td class="td_bg">体重/Weight (kg):</td>
                            <td>
                                <!-- <#%= f.input :weight, :collection => (40..100).to_a.map{|i| ["#{i} kg", i]}, label: false, include_blank: '-select here-'  %> -->
                                <%= f.text_field :weight, :class => "form-control ", type: 'number', min: '0', :placeholder => "Weight in kg *" %>
                            </td>
                            <td class="td_bg">英語/English Skill:</td>
                            <td>
                            <%= f.input :english_skill, :collection => [
                                 ['日常会話/Conversational', 'Conversational'],
                                 ['ビジネス/Business', 'Business'],
                                 ['ネイティブ/Native', 'Native'],
                                 ['無し/No', 'No']
                                ],
                                input_html: {class: 'form-control'},
                                include_blank: '-select here-', label: false 
                            %>
                            </td>
                        </tr>
                        <tr>
                            <td class="td_bg">日本語能力/Japanese skill:</td>
                            <td>                        
                            <%= f.input :jlpt_level, :collection => [
                                 ['N1', 'N1'],
                                 ['N2', 'N2'],
                                 ['N3', 'N3'],
                                 ['N4', 'N4'],
                                 ['N5', 'N5'],
                                 ['日常会話 / Conversational', 'Conversational'],
                                 ['無し/No', 'No']
                                ],
                                input_html: {class: 'form-control'},
                                include_blank: '-select here-', label: false 
                            %>
                            </td>
                            <td class="td_bg">今回の応募職種での職務経験/Work experience of the job you`re applying:</td>
                            <td>
                            <%= f.input :is_work_related_expirience, :collection => [
                                 ['無し/No', false],
                                 ['有り/Yes', true]                                 
                                ],
                                input_html: {class: 'form-control'},
                                include_blank: false, label: false 
                            %>
                            </td> 
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Image Upload -->
    <div class="panel panel-default">
        <div class="panel-heading with_parent_tab text-uppercase"><strong>Profile & Whole Body Picture *</strong></div>        
        <div class="panel-body">
            <div class="table-responsive">
                <table id="table_basic_information" class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td class="td_bg" style="width: 30%">Applicant's passport or 2x2 size photo:</td>
                            <% if action == 'edit' %>
                            <td class="text-center" style="width:10%"><%= image_tag(@applicant.profile.url(:medium), style: '') %></td>
                            <% end %>
                            <td><input name="applicant[profile]" id="applicant_profile" type="file" class="file" data-preview-file-type="text" data-show-upload="false" /></td>
                        </tr>
                        <tr>
                            <td class="td_bg" style="width: 30%">Applicant's whole body photo:</td>
                            <% if action == 'edit' %>
                            <td class="text-center" style="width:10%"><%= image_tag(@applicant.wholebody.url(:medium), style: '') %></td>
                            <% end %>
                            <td><input name="applicant[wholebody]" id="applicant_wholebody" type="file" class="file" data-preview-file-type="text" data-show-upload="false" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>