<!-- Contact Information -->
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading with_parent_tab text-uppercase"><strong>連絡先 / Contact Information *</strong></div>
        
        <div class="panel-body">
            <div class="table-responsive">
                <table id="table_contact_infomation" class="table table-bordered table-hover">
                    <thead>
                        <th style="width: 15%" class="td_bg">電話番号 / Phone Number</th>
                        <th style="width: 45%" class="td_bg">電子メールアドレス / Email Address</th>
                        <th style="width: 40%" class="td_bg">ホームアドレス / Home Address</th>                                
                    </thead>
                    <tbody>
                        <tr>
                        <td>
                        <%= f.input :phone, input_html: { class: 'form-control university', :placeholder => "Phone Number *", autocomplete: 'off' }, label: false %>
                        </td>
                        <td>
                        <%= f.input :email, input_html: { class: 'form-control university', :placeholder => "Email Address *", autocomplete: 'off' }, label: false %>
                        <td>
                        <%= f.input :address, input_html: { class: 'form-control university', :placeholder => "Home Address *", autocomplete: 'off' }, label: false %>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>                
        </div>
    </div>
</div>