<tr class="fields">
    <td>                                
        <div class='input-group date date_year_month'>
            <%= f.input :date, input_html: {class: 'form-control date_year_month'}, label: false %>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </td>
    <td>
        <%= f.input :university, input_html: {class: 'form-control university', placeholder: "College/University"}, label: false %>
    </td>
    <td>
        <%= f.input :status, collection: [
             ['入学/Enter', 'Enter'],
             ['卒業/Graduate', 'Graduate'],
             ['中退/Drop-out', 'Drop-out']
            ],
            input_html: {class: 'form-control'},
            include_blank: '-select here-',
            label: false
        %>
    </td>
    <td class="text-center">
        <a href="#" onclick="remove_fields(this); return false;"><i class='glyphicon glyphicon-remove remove_added font20'></i></a>
        <!-- <#%= link_to_remove_fields "Remove", f %> -->        
    </td>
</tr>