<!-- Education Background -->
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading with_parent_tab text-uppercase"><strong>学　歴 / Education Background</strong></div>
        
        <div class="panel-body">
            <div class="table-responsive">
                <table id="table_education_background" class="table table-bordered table-hover">
                    <thead>
                        <th style="width: 15%" class="td_bg">日付（年/月）/Date(Year/Month)</th>
                        <th style="width: 45%" class="td_bg">学校名/School Name</th>
                        <th style="width: 40%" class="td_bg">ステータス/Status</th>
                        <th style="width:  5%" class="td_bg"></th>
                    </thead>
                    <tbody>
                        <%= f.simple_fields_for :education_backgrounds do |education_field| %>
                            <%= render partial: 'education_background_fields', locals: {f: education_field} %>
                        <% end %>
                        
                        <tr class="text-right">
                            <td colspan="4">
                                <p class="btn btn-primary white"><%= link_to_add_fields "ADD", f, :education_backgrounds %></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>