<!-- Family Background -->
<%= f.fields_for :family_background do |f_family| %>
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading with_parent_tab text-uppercase"><strong>家族について / Family Background</strong></div>
        
        <div class="panel-body">
            <div class="table-responsive">
                <table id="table_family_background" class="table table-bordered table-hover">
                    <thead>
                        <th class="td_bg" style="width: 10%">続き柄/Relationship</th>
                        <th class="td_bg" style="width: 30%">名前/Name</th>
                        <th class="td_bg" style="width: 30%">職業/Occupation</th>                        
                        <th class="td_bg" style="width: 30%">連絡/Contact</th>
                    </thead>
                    <tbody>
                    
                    <tr>
                        <td class="bold">父/Father:</td>
                        <td><%= f_family.input :father_name, input_html: { class: 'form-control', :placeholder => "Father Name *" }, label: false %></td>
                        <td><%= f_family.input :father_job_id, collection: @job_types, label_method: :combine_jp_and_en_name, value_method: :id, label: false, include_blank: '-select here-' %></td>
                        <td><%= f_family.input :father_phone_number, input_html: { class: 'form-control', :placeholder => "Father Contact *" }, label: false %></td>
                    </tr>
                    <tr>
                        <td class="bold">母/Mother:</td>
                        <td><%= f_family.input :mother_name, input_html: { class: 'form-control', :placeholder => "Mother Name *" }, label: false %></td>
                        <td><%= f_family.input :mother_job_id, collection: @job_types, label_method: :combine_jp_and_en_name, value_method: :id, label: false, include_blank: '-select here-' %></td>
                        <td><%= f_family.input :mother_phone_number, input_html: { class: 'form-control', :placeholder => "Mother Contact *" }, label: false %></td>
                    </tr>
                    <tr>
                        <td class="bold">
                            <input type="hidden" value="<%= f.object.gender %>" id="hidden_gender_data">
                            <div class="radio"><label><input type="radio" name="spouse_selection" value="husband" checked=""><b>夫/Husband:</b></label></div>
                            <div class="radio"><label><input type="radio" name="spouse_selection" value="wife"><b>妻/Wife:</b></label></div>                        
                        </td>
                        <td>
                            <span class="husband_field show"><%= f_family.input :husband_name, input_html: { class: 'form-control', :placeholder => "Husband Name *" }, label: false %></span>
                            <span class="wife_field hidden"><%= f_family.input :wife_name, input_html: { class: 'form-control', :placeholder => "Wife Name *" }, label: false %></span>
                        </td>
                        <td>
                            <span class="husband_field show"><%= f_family.input :husband_job_id, collection: @job_types, label_method: :combine_jp_and_en_name, value_method: :id, label: false, include_blank: '-select here-' %></span>
                            <span class="wife_field hidden"><%= f_family.input :wife_job_id, collection: @job_types, label_method: :combine_jp_and_en_name, value_method: :id, label: false, include_blank: '-select here-' %></span>
                        </td>
                        <td>
                            <span class="husband_field show"><%= f_family.input :husband_phone_number, input_html: { class: 'form-control', :placeholder => "Husband Contact *" }, label: false %></span>
                            <span class="wife_field hidden"><%= f_family.input :wife_phone_number, input_html: { class: 'form-control', :placeholder => "Wife Contact *" }, label: false %></span>
                        </td>
                    </tr>           
                    </tbody>
                </table>

                <table class="table table-bordered table-hover">
                    <thead>
                        <th class="td_bg" style="width: 10%">続き柄/Relationship</th>
                        <th class="td_bg">兄弟人数/How many siblings</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="bold">兄弟/Brother:</td>
                            <td><%= f_family.text_field :brother_count, :class => "form-control ", type: 'number', min: '0' %></td>
                        </tr>
                        <tr>
                            <td class="bold">姉妹/Sister:</td>
                            <td><%= f_family.text_field :sister_count, :class => "form-control ", type: 'number', min: '0' %></td>
                        </tr>
                        <tr>
                            <td class="bold">娘/Daughter:</td>
                            <td><%= f_family.text_field :daugther_count, :class => "form-control ", type: 'number', min: '0' %></td>
                        </tr>
                        <tr>
                            <td class="bold">息子/Son:</td>
                            <td><%= f_family.text_field :son_count, :class => "form-control ", type: 'number', min: '0' %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<% end %>