<ul class="nav nav-tabs custom_nav_tab">
  <li class="active"><a href="#basic_info" class="process_arrow_right" data-toggle="tab">基本情報 / Basic Information</a></li>
  <li><a href="#contact_info" class="process_arrow_right" data-toggle="tab">連絡先 / Contact Information</a></li>
  <li><a href="#education_info" class="process_arrow_right" data-toggle="tab">学歴 / Education Background</a></li>
  <li><a href="#work_info" class="process_arrow_right" data-toggle="tab">職歴 / Work Experience</a></li>
  <li><a href="#family_info" class="process_arrow_right" data-toggle="tab">家族について / Family Background</a></li>
  
  <% if can? :destroy, Applicant %>
  <li><a href="#pww_academy_info" class="process_arrow_right" data-toggle="tab">People Worldwide Academy</a></li>
  <li><a href="#upload_files" class="process_arrow_right" data-toggle="tab">Upload Applicant's File</a></li>
  <% end %>
  
  <li><a href="#other_info" class="" data-toggle="tab">Other Info & <br> SAVE</a></li>                        
</ul>