<!-- Basic Infomation -->
<div class="tab-pane active" id="basic_info"><%= render(partial: "applicants/basic_info", locals: {f: form_field, action: action}) %></div>
<!-- Contact Information -->
<div class="tab-pane" id="contact_info"><%= render(partial: "applicants/contact_info", locals: {f: form_field, action: action}) %></div>
<!-- Education Background -->
<div class="tab-pane" id="education_info"><%= render(partial: "applicants/education_info", locals: {f: form_field, action: action}) %></div>
<!-- Work Experiences -->
<div class="tab-pane" id="work_info"><%= render(partial: "applicants/work_info", locals: {f: form_field, action: action}) %></div>
<!-- Family Background -->
<div class="tab-pane" id="family_info"><%= render(partial: "applicants/family_info", locals: {f: form_field, action: action}) %></div>

<% if can? :destroy, Applicant %>
<!-- People Worldwide Academy -->
<div class="tab-pane" id="pww_academy_info"><%= render(partial: "applicants/pww_academy_info", locals: {f: form_field, action: action}) %></div>
<!-- Upload Applicant's File -->
<div class="tab-pane" id="upload_files"><%= render(partial: "applicants/applicant_files", locals: {f: form_field, action: action}) %></div>
<% end %>