<div class="panel panel-default">
	<!-- <div class="panel-heading"><strong>応募者のリスト/List of Applicants</strong></div> -->
	<div class="panel-body">
		<div class="table-responsive">
		  <div class="dataTable_wrapper">
			  <table class="table table-striped table-bordered table-hover makeDataTable" id="dataTable_<%= id %>">
			    <thead>
			      <tr>
			        <th style="width: 6%">画像<br>Profile</th>
			        <th style="width: 10%">名前<br>Name</th>
			        <th style="width: 10%">プロジェクト<br>Project</th>
			        <th style="width: 8%">性別<br>Gender</th>
			        <th style="width: 10%">選考状況<br>Status</th>
			        <th style="width: 6%">年齢<br>Age</th>
			        <th style="width: 10%">出生国<br>Country</th>
			        <th style="width: 10%">婚姻状況<br>Marital Status</th>
			        <th style="width: 10%">最終学歴<br>Academic</th>
			        <th style="width: 10%">宗教<br>Religion</th>
			        <th style="width: 10%" class="text-center">行動<br>Actions</th>
			      </tr>
			    </thead>
			    <tbody>
			    	<%
	            case status
	            when 'In-progress'
	              applicants = applicants.in_progress
	            when 'Waiting'
	              applicants = applicants.waiting
	            when 'Failed'
	              applicants = applicants.failed
	            when 'Confirmed'
	              applicants = applicants.confirmed
	            end
	          %>      
			      <% applicants.each do |a| %>
			      <tr id="tr_<%= a.id %>">
			        <td><%= image_tag(a.profile.url(:thumb), class: 'height_width50', title: "registered #{time_ago_in_words(a.created_at)} ago") %></td>
			        <td><%= a.name %></td>
			        <td><%= a.project.try(:title) || '-' %></td>
			        <td><%= raw(to_break(helper_gender(a.gender))) %></td>
			        <td><%= raw(helper_progress_status(a.status)) %></td>
			        <td><%= a.age %></td>
			        <td><%= raw(to_break(a.country.try(:combine_jp_and_en_name))) %></td>
			        <td><%= raw(to_break(helper_martial_status(a.marital_status))) %></td>
			        <td><%= raw(to_break(helper_last_academic(a.last_academic))) %></td>
			        <td><%= raw(to_break(a.religion.try(:combine_jp_and_en_name))) %></td>
			        <td class="text-center">
			        <% if can? :update, a %>
			        <a href="<%= edit_applicant_path(a, :locale => I18n.locale) %>" data-toggle="tooltip" title="View full info"><%= image_tag("/assets/icons/user.png", class: 'applicants_link') %></a>
			        <% end %>

			        <% if session[:role] == 'partner' %>
			        <a href="#" data-id="<%= a.id %>" class='request_for_delete_applicant' data-toggle="tooltip" title="Request for Deletion"><%= image_tag("/assets/icons/request_deletion.png", class: 'applicants_link') %></a>
			        <% end %>

			        <a href="<%=a.self_introduction_video_link%>" target="_blank" data-toggle="tooltip" title="自己紹介動画 / Self introducing video"><%= image_tag("/assets/icons/self_intro.png", class: 'applicants_link') %></a>

			        <a href="<%=a.aptitude_test_link%>" target="_blank" data-toggle="tooltip" title="職業適性診断実施動画/Skill check video"><%= image_tag("/assets/icons/video.png", class: 'applicants_link') %></a>

			        <a href="<%=a.psychometric_test_link%>" target="_blank" data-toggle="tooltip" title="適性診断結果 / Psychometric test result"><%= image_tag("/assets/icons/psychometric.png", class: 'applicants_link') %></a>

			        <a href="/<%= I18n.locale %>/generate_applicant_report.pdf?id=<%=a.id%>" data-toggle="tooltip" target="_blank" title="Download PDF"><%= image_tag("/assets/icons/pdf.png", class: 'applicants_link') %></a>
			        
			        <% if can? :destroy, a %>
			        <a href="/<%= I18n.locale %>/project_history?id=<%=a.id%>" data-toggle="tooltip" title="Project History"><%= image_tag("/assets/icons/history.png", class: 'history_link') %></a>
			        <a href="#" data-id="<%= a.id %>" class='delete_applicant' data-toggle="tooltip" title="Delete applicant"><%= image_tag("/assets/icons/delete.png") %></a>
			        <% end %>
			        </td>
			      </tr>
			      <% end %>
			    </tbody>
			  </table>
		  </div>
		</div>
	</div>
</div>