<!-- Other Infomation -->
<div class="col-lg-12">

<% if session[:role] == 'admin' %>
    <a id="scroll_to_save" href="#"><div class="go_to_save">Scroll<br>Down</div></a>
<% end %>

<div class="panel panel-default">
    <div class="panel-heading with_parent_tab text-uppercase"><strong>その他の重要な情報 / Other Important Information *</strong></div>
    
    <div class="panel-body">
        <div class="table-responsive">
            <table id="table_basic_information" class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <td class="bold td_bg" style="width: 30%">プロジェクト/Applicant's project belongs to?:</td>
                        <td>
                            <%= f.input :project_id, 
                                collection: @projects, 
                                label_method: :select_project_with_description,
                                value_method: :id,
                                label: false,
                                include_blank: '-select here-',
                                input_html: {:class => "form-control text-capitalize"}
                            %>
                        </td>
                    </tr>
                    <tr>
                        <td class="bold td_bg" style="width: 30%">自己紹介動画 / Self introducing video:</td>
                        <td><%= f.input :self_introduction_video_link, as: :text, label: false, input_html: {:class => "form-control", :placeholder => "Self Introduction Video URL", rows: '2'} %></td>
                    </tr>
                    <tr>
                        <td class="bold td_bg" style="width: 30%">職業適性診断実施動画/Skill check video:</td>
                        <td><%= f.input :aptitude_test_link, as: :text, label: false, input_html: {:class => "form-control", :placeholder => "Skill Check Link", rows: '2'} %></td>
                    </tr>
                    <tr>
                        <td class="bold td_bg" style="width: 30%">適性診断結果 / Psychometric test result:</td>
                        <td><%= f.input :psychometric_test_link, as: :text, label: false, input_html: {:class => "form-control", :placeholder => "Psychometric Test Link", rows: '2'} %></td>
                    </tr>
                    
                    <% if can? :destroy, Applicant %>
                        <tr>
                            <td class="bold td_bg" style="width: 30%">Custom Code:</td>
                            <td><%= f.input :custom_code, input_html: { class: 'form-control', :placeholder => "Custom Code (6 characters)", maxlength: '6', autocomplete: 'off' }, label: false %></td>
                        </tr>
                        <tr>
                            <td class="bold td_bg" style="width: 30%">選考状況/Applicant's Status:
                            <br> <label class="short_notes">*Note: [waiting] status will be not shown to Clients.</label>
                            </td>
                            <td><%= f.select :status, options_for_select([ "Waiting", "In-progress", "Failed", "Confirmed" ], @applicant.status), {}, {class: 'form-control'} %></td>
                        </tr>
                        <tr>
                            <td class="bold td_bg" style="width: 30%">Belongs To Partner's Account:</td>
                            <td>
                                <%= f.select(:creator_id, User.partners.collect {|p| [ p.fullname, p.id ] },
                                    {include_blank: "Unassociated (not shown in any Client & Partner's Account )",
                                    :selected => @applicant.creator_id},
                                    { class: 'form-control', required: '' })
                                %>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold td_bg" style="width: 30%">Short Notes to Applicant (up to 25 characters only):
                                <br> <label class="short_notes">*Note: This shows in full listing PDF report remarks column.</label>
                            </td>
                            <td><%= f.input :short_notes, label: false, input_html: {:class => "form-control", :placeholder => "Short Notes to Applicant", maxlength: '25'} %></td>
                        </tr>
                        <tr>
                            <td class="bold td_bg" style="width: 30%">PWJコメント/PWJ Comments:
                                <div style="padding-left: 10px;">
                                    <br>
                                    <%= f.input :show_notes_in_admin_pdf, inline_label: "show in Admin PDF report?", label: false %>
                                    <br>
                                    <%= f.input :show_notes_in_partner_pdf, inline_label: "show in Partner PDF report?", label: false %>
                                    <br>
                                    <%= f.input :show_notes_in_client_pdf, inline_label: "show in Client PDF report?", label: false %>
                                </div>
                            </td>
                            <td><%= f.input :notes, as: :ckeditor, label: false, input_html: {id: 'applicant_notes', class: "form-control", rows: '2'} %></td>
                        </tr>                    
                        <tr>
                            <td class="bold td_bg" style="width: 30%">備考/Remarks:
                                <div style="padding-left: 10px;">
                                    <br>
                                    <%= f.input :show_remarks_in_admin_pdf, inline_label: "show in Admin PDF report?", label: false %>
                                    <br>
                                    <%= f.input :show_remarks_in_partner_pdf, inline_label: "show in Partner PDF report?", label: false %>
                                    <br>
                                    <%= f.input :show_remarks_in_client_pdf, inline_label: "show in Client PDF report?", label: false %>
                                </div>
                            </td>
                            <td>
                                <%= f.input :admin_remarks, as: :ckeditor, label: false, input_html: {id: 'admin_remarks', class: "form-control", rows: '2'} %>
                                <!-- ckeditor: { toolbar: 'Full' }, -->
                            </td>
                        </tr>
                        <tr>
                            <td class="bold td_bg" style="width: 30%">備考/Client Comments:
                                <div style="padding-left: 10px;">
                                    <br><%= f.input :show_client_comments, inline_label: "show in PDF?", label: false %><br>
                                </div>
                            </td>
                            <td>
                                <%= f.input :client_comments, as: :text, label: false, input_html: {:class => "form-control", :placeholder => "Client Comments", rows: '4'} %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>