<!-- People Worldwide Academy -->
<div class="col-lg-12">    
    <div class="panel panel-default">
        <div class="panel-heading with_parent_tab text-uppercase"><strong>People Worldwide Academy</strong></div>
        
        <div class="panel-body">            
            <div class="table-responsive">
                <table id="table_academic_ability" class="table table-bordered table-hover">
                    <thead>
                        <th class="td_bg" style="width: 45%"><strong>学力調査 / Academic Ability</strong></th>
                        <th class="td_bg text-center" style="width: 45%;">スコア/Score (*/100)</th>
                        <th class="td_bg text-center" style="width: 10%;">アクション / Action</th>
                    </thead>
                    <tbody>
                        <%= f.fields_for :applicant_academic_abilities do |academic_field| %>
                            <%= render partial: 'applicant_academic_ability_fields', locals: {f: academic_field} %>
                        <% end %>
                        <tr class="text-right" id="add_link_academic">
                            <td colspan="3"><p class="btn btn-primary white"><%= link_to_add_fields "ADD", f, :applicant_academic_abilities %></p></td>
                        </tr>
                    </tbody>
                </table>
            </div>            

            
            <div class="table-responsive">
                <table id="table_skill_check" class="table table-bordered table-hover">
                    <thead>
                        <th class="td_bg" style="width: 45%"><strong>職業適性診断/Skill Check </strong></th>
                        <th class="td_bg text-center" style="width: 45%;">スコア/Score (*/100)</th>
                        <th class="td_bg text-center" style="width: 10%;">アクション / Action</th>
                    </thead>
                    <tbody>
                        <%= f.fields_for :applicant_aptitude_tests do |aptitude_field| %>
                            <%= render partial: 'applicant_aptitude_test_fields', locals: {f: aptitude_field} %>
                        <% end %>
                        <tr class="text-right" id="add_link_skill">
                            <td colspan="4"><p class="btn btn-primary white"><%= link_to_add_fields "ADD", f, :applicant_aptitude_tests %></p></td>
                        </tr>                        
                    </tbody>
                </table>
            </div>            
        </div>
    </div>
</div>