<!-- Work Experiences -->
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading with_parent_tab text-uppercase"><strong>職歴 / Work Experience</strong></div>
        
        <div class="panel-body">
            <div class="table-responsive">
                <table id="table_work_experience" class="table table-bordered table-hover">
                    <thead>
                        <th class="td_bg" style="width: 15%">入社日/Date of entering this company (YYYY/MM)</th>
                        <th class="td_bg" style="width: 15%"">退職日/Date of leaving this company (YYYY/MM)</th>
                        <th class="td_bg" style="width: 20%">会社/Company</th>
                        <th class="td_bg" style="width: 15%">月収/monthly income (&#x24;)</th>
                        <th class="td_bg" style="width: 15%">職務内容/Job Description</th>
                        <th class="td_bg" style="width: 15%">国/Country</th>
                        <th class="td_bg" style="width:  5%"></th>
                    </thead>
                    <tbody>
                        <%= f.fields_for :work_experiences do |work_field| %>
                            <%= render partial: 'work_experience_fields', locals: {f: work_field} %>
                        <% end %>

                        <tr class="text-right">
                            <td colspan="8">
                                <p class="btn btn-primary white"><%= link_to_add_fields "ADD", f, :work_experiences %></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>                
        </div>
    </div>
</div>