<tr class="fields">
    <td>
        <div class='input-group date date_year_month'>
            <%= f.text_field :entering_date, :class => "form-control work_experience_date" %>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </td>
    <td>
        <div class='input-group date date_year_month'>
            <% if f.object.up_to_present %>
                <%= f.text_field :leaving_date, :class => "form-control work_experience_date", disabled: "" %>
            <% else %>
                <%= f.text_field :leaving_date, :class => "form-control work_experience_date"%>
            <% end %>

            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        <div style="height: 5px;"></div>
        <%= f.label :up_to_present do %>
          <%= f.check_box :up_to_present, {class: 'up_to_preset'}, "true", "false" %>
          現在に至る/Present
        <% end %>
    </td>
    <td><%= f.text_field :company_name, :class => "form-control company_name", :placeholder => "Company *" %></td>
    <td><%= f.text_field :monthly_salary, :class => "form-control ", type: 'number', :placeholder => "Monthly Salary ($) *" %></td>
    <td><%= f.input :job_type_id, collection: @job_types, label_method: :combine_en_and_jp_name, value_method: :id, label: false, include_blank: '-select here-' %></td>
    <td><%= f.input :country_id, collection: @countries, label_method: :combine_jp_and_en_name, value_method: :id, label: false, include_blank: '-select here-' %></td>
    <td class="text-center">
        <a href="#" onclick="remove_fields(this); return false;"><i class='glyphicon glyphicon-remove remove_added font20'></i></a>
    </td>
</tr>