<div class="data_wrapper" style="margin-top: 5px;">
  <!-- Basic Information -->
  <div class="nobreak">
  <table width="100%" class="table_contents" cellpadding="0" cellspacing="0">
    <tr>
      <td class="table_header border_bottom_none" colspan="4">基本情報 / Basic Information</td>
    </tr>

    <tr>
      <td class="title">名前/Name:</td>
      <td class="content"><%= @applicant.name %></td>
      <td class="title">最終学歴/Last Academic:</td>
      <td class="content"><%= helper_last_academic(@applicant.last_academic) %></td>
    </tr>

    <tr>
      <td class="title">性別/Gender:</td>
      <td class="content"><%= helper_gender(@applicant.gender) %></td>
      <td class="title">宗教/Religion:</td>
      <td class="content"><%= @applicant.religion.try(:combine_jp_and_en_name) %></td>
    </tr>

    <tr>
      <td class="title">生年月日/Date of birth:</td>
      <td class="content"><%= @applicant.birth_date %></td>
      <td class="title">利き手/Dominant Hand:</td>
      <td class="content"><%= helper_dominant_hand(@applicant.dominant_hand) %></td>
    </tr>

    <tr>
      <td class="title">年齢/Age:</td>
      <td class="content"><%= @applicant.age %></td>
      <td class="title">体重/Weight (kg):</td>
      <td class="content"><%= @applicant.weight %></td>
    </tr>

    <tr>
      <td class="title">身長/Height (cm):</td>
      <td class="content"><%= @applicant.height %></td>
      <td class="title">英語/English Skill:</td>
      <td class="content"><%= helper_english_skill(@applicant.english_skill) %></td>
    </tr>

    <tr>
      <td class="title">出生国/Country of birth:</td>
      <td class="content"><%= @applicant.country.try(:combine_jp_and_en_name) %></td>
      <td class="title">日本語能力/Japanese skill:</td>
      <td class="content"><%= helper_japanese_skill(@applicant.jlpt_level) %></td>
    </tr>

    <tr>
      <td class="title">婚姻状況/Marital Status:</td>
      <td class="content"><%= helper_martial_status(@applicant.marital_status) %></td>
      <td class="title">今回の応募職種での職務経験/Work experience of the job you're applying:</td>
      <td class="content"><%= helper_is_work_related(@applicant.is_work_related_expirience) %></td>
    </tr>
  </table>
  </div>

  <!-- Education Background -->
  <div class="nobreak">
  <table width="100%" class="table_contents" cellpadding="0" cellspacing="0">
    <tr>
      <td class="table_header border_bottom_none" colspan="4">学歴 / Education Background</td>
    </tr>

    <tr>
      <td class="title header_light border_bottom_none" style="width: 25%;">日付（年/月）Date (Year/Month)</td>    
      <td class="title header_light border_bottom_none" style="">学校名 / School Name</td>
      <td class="title header_light border_bottom_none" style="">ステータス/Status</td>
    </tr>
    <% @applicant.education_backgrounds.each do |education| %>
      <tr>
        <td><%= education.date %></td>
        <td><%= education.university %></td>
        <td><%= helper_education_level(education.status) %></td>
      </tr>
    <% end %>
  </table>
  </div>

  <!-- Work Experiences -->
  <!-- <div class="nobreak"> -->
  <table width="100%" class="table_contents" cellpadding="0" cellspacing="0">
    <tr>
      <td class="table_header border_bottom_none" colspan="4">職歴 / Work Experiences</td>
    </tr>

    <tr style="display: inline-table;">
      <td class="title header_light border_bottom_none" style="min-width: 170px; max-width: 170px;">入社日/退職日<br>Date (Year/Month)</td>    
      <td class="title header_light border_bottom_none" style="min-width: 170px; max-width: 170px;">会社 / Company</td>      
      <td class="title header_light border_bottom_none" style="min-width: 70px; min-width: 70px;">月収 / Monthly Income ($)</td>
      <td class="title header_light border_bottom_none" style="min-width: 140px; max-width: 140px; ">職務内容<br>Job Description</td>
      <td class="title header_light border_bottom_none" style="min-width: 120px; max-width: 120px;">国 / Country</td>
    </tr>
    <% @applicant.work_experiences.each do |work| %>
      <tr style="page-break-inside: avoid; display: inline-block;">
        <td class="v_middle" style="min-width: 170px; max-width: 170px;">
        	<% if work.up_to_present %>
            <% @work_length = compute_work_time("#{work.entering_date}/01", "#{Time.new.strftime('%Y/%m')}/01") %>
            <% @work_end = "Present" %>
          <% else %>
            <% @work_length =  compute_work_time("#{work.entering_date}/01", "#{work.leaving_date}/01") %>
            <% @work_end = work.leaving_date %>
          <% end %>

          <p style="padding: 0;"><%= work.entering_date %> - <%= @work_end %></p> 
	        <p class="work_expi_length">(<%= @work_length %>)</p>
    	  </td>
        <td class="v_middle capitalize" style="min-width: 170px; max-width: 170px;"><%= work.company_name %></td>
        <td class="v_middle" style="min-width: 70px; min-width: 70px;">&nbsp;<%= work.monthly_salary %></td>
        <td class="capitalize" style="min-width: 140px; max-width: 140px;">&nbsp;<%= work.job_type.try(:combine_jp_and_en_name) %></td>
        <td class="capitalize" style="min-width: 120px; max-width: 120px;">&nbsp;<%= work.country.try(:combine_jp_and_en_name) %></td>
      </tr>
    <% end %>
  </table>
 <!-- </div> -->

  <!-- Family Background -->
  <div class="nobreak">
	  <table width="100%" class="table_contents" cellpadding="0" cellspacing="0">
	    <tr>
	      <td class="table_header border_bottom_none" colspan="4">家族について / Family Background</td>
	    </tr>
	
	    <tr>
	      <td class="title header_light" style="width: 25%;">続き柄 / Relationship</td>
	      <td class="title header_light" style="width: 25%;">名 / Name</td>
	      <td class="title header_light" style="width: 25%;">職業 / Occupation</td>
	      <td class="title header_light" style="width: 25%;"><% if can? :update, Applicant %>連絡先 / Contact<% end %></td>
	    </tr>
	
	    <tr>
	      <td>父/Father:</td>
	      <td class="capitalize"><%= @applicant.family_background.try(:father_name) %></td>
	      <td class="capitalize"><%= @applicant.family_background.try(:father_occupation).try(:combine_jp_and_en_name) %></td>
	      <td><%= @applicant.family_background.try(:father_phone_number) if can? :update, Applicant %></td>
	    </tr>
	    <tr>
	      <td>母/Mother:</td>
	      <td class="capitalize"><%= @applicant.family_background.try(:mother_name) %></td>
	      <td class="capitalize"><%= @applicant.family_background.try(:mother_occupation).try(:combine_jp_and_en_name) %></td>
	      <td><%= @applicant.family_background.try(:mother_phone_number) if can? :update, Applicant %></td>
	    </tr>
      <% if @applicant.gender == 'Female' && !@applicant.family_background.try(:husband_name).blank? %>
  	    <tr>
  	      <td>夫/Husband:</td>
  	      <td class="capitalize"><%= @applicant.family_background.try(:husband_name) %></td>
  	      <td class="capitalize"><%= @applicant.family_background.try(:husband_occupation).try(:combine_jp_and_en_name) %></td>
  	      <td><%= @applicant.family_background.try(:husband_phone_number) if can? :update, Applicant %></td>
  	    </tr>
      <% elsif @applicant.gender == 'Male' && !@applicant.family_background.try(:wife_name).blank? %>
  	    <tr>
  	      <td>妻/Wife:</td>
  	      <td class="capitalize"><%= @applicant.family_background.try(:wife_name) %></td>
  	      <td class="capitalize"><%= @applicant.family_background.try(:wife_occupation).try(:combine_jp_and_en_name) %></td>
  	      <td><%= @applicant.family_background.try(:wife_phone_number) if can? :update, Applicant %></td>
  	    </tr>
      <% end %>

      <% if helper_for_siblings_table(@applicant.family_background) > 0 %>
        <tr>
          <td class="title header_light" style="width: 25%;">続き柄 / Relationship</td>
          <td class="title header_light" style="width: 75%;" colspan="3">兄弟人数/How many sibling</td>
        </tr>
      <% end %>

      <% if @applicant.family_background.try(:brother_count).to_i > 0 %>
        <tr>
          <td>兄弟/Brother:</td><td colspan="3" class="text-left"><%= @applicant.family_background.try(:brother_count) %></td>
        </tr>
      <% end %>

      <% if @applicant.family_background.try(:sister_count).to_i > 0 %>
        <tr>
          <td>姉妹/Sister:</td><td colspan="3" class="text-left"><%= @applicant.family_background.try(:sister_count) %></td>
        </tr>
      <% end %>

      <% if @applicant.family_background.try(:daugther_count).to_i > 0 %>
        <tr>
          <td>娘/Daughter:</td><td colspan="3" class="text-left"><%= @applicant.family_background.try(:daugther_count) %></td>
        </tr>
      <% end %>

      <% if @applicant.family_background.try(:son_count).to_i > 0 %>
        <tr>
          <td>息子/Son:</td><td colspan="3" class="text-left"><%= @applicant.family_background.try(:son_count) %></td>
        </tr>
      <% end %>

	  </table>
	</div>
  
  <!-- People World Wide Academy -->
  <% if (@applicant.applicant_academic_abilities.count + @applicant.applicant_aptitude_tests.count) >= 1 %>  
    <div class="nobreak">
    	<table width="100%" class="table_contents" cellpadding="0" cellspacing="0">  
        <tr><td class="table_header border_bottom_none" colspan="4">People Worldwide Academy</td></tr>
        <tr>
          <td class="title header_light border_bottom_none" style="width: 50%" colspan="2">職業適性診断 /Aptitude Test</td>
          <td class="title header_light border_bottom_none" style="width: 50%" colspan="2">学力調査 / Academic Ability</td>
        </tr>
        
        <tr>
          <td colspan="2" style="padding: 2px 0; margin: 0; border-bottom: none;">
            <table class="table_contents" width="100%" cellpadding="0" cellspacing="0">
              <% @applicant.applicant_aptitude_tests.each do |apt| %>
              <tr>            
                <td class="capitalize" width="50%"><%= apt.aptitude_test.try(:combine_jp_and_en_name) %>:</td>
                <td width="50%"><%= apt.score %>%</td>            
              </tr>
              <% end %>
            </table>
          </td>

          <td colspan="2" style="padding: 2px 0; margin: 0; border-bottom: none;">
            <table class="table_contents" width="100%"  cellpadding="0" cellspacing="0">
              <% @applicant.applicant_academic_abilities.each do |acad| %>
              <tr>            
                  <td class="capitalize" width="70%"><%= acad.academic_ability.try(:combine_jp_and_en_name) %>:</td>
                  <td width="30%"><%= acad.score %>%</td>
              </tr>
              <% end %>
            </table>
          </td>
        </tr>
      </table>
    </div>
  <% end %>

  <!-- Admin Notes -->  
  <% if !@applicant.notes.blank? && check_notes_if_to_show(@applicant) %>
    <div class="nobreak">
      <table width="100%" class="table_contents" cellpadding="0" cellspacing="0">
        <tr>
          <td class="table_header border_bottom_none">PWJコメント/PWJ comments</td>
        </tr>
        <tr>
          <td><%= raw(@applicant.notes) %></td>
        </tr>
      </table>
    </div>
  <% end %>
  
  <!-- Admin Remarks -->
  <% if !@applicant.admin_remarks.blank? && check_remarks_if_to_show(@applicant) %>
    <div class="nobreak">
      <table width="100%" class="table_contents" cellpadding="0" cellspacing="0">
        <tr>
          <td class="table_header border_bottom_none">備考/Remarks</td>
        </tr>
        <tr>
          <td><%= raw(@applicant.admin_remarks) %></td>
        </tr>
      </table>
    </div>
  <% end %>

  <!-- Client Comments -->
  <% if !@applicant.client_comments.blank? && @applicant.show_client_comments %>
    <div class="nobreak">
      <table width="100%" class="table_contents" cellpadding="0" cellspacing="0">
        <tr>
          <td class="table_header border_bottom_none">備考/Client Comments</td>
        </tr>
        <tr>
          <td><%= @applicant.client_comments %></td>
        </tr>
      </table>
    </div>
  <% end %>
</div>