<% content_for :include_styles do %>
<%= stylesheet_link_tag "fileinput.min.css", media: "all" %>
<%= stylesheet_link_tag "bootstrap-datetimepicker.css" %>
<% end %>

<% content_for :include_scripts do %>
<%= javascript_include_tag "moment-with-locales.js" %>
<%= javascript_include_tag "bootstrap-datetimepicker.js" %>
<%= javascript_include_tag "fileinput.min.js" %>
<%= javascript_include_tag "applicants/edit.js" %>
<%= javascript_include_tag "applicants/common_functions.js" %>
<% end %>

<% content_for :page_icon do %>
  <i class="fa fa-edit custom_icon" aria-hidden="true"></i>
<% end %>

<% content_for :body do %>
<!-- Modal Notofication for Edit Status -->
<div id="modal_edit_status" data-edit-status="<%= @applicant.edit_status %>" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="margin-top: 30%;">
      <div class="modal-header edit_status_modal_header">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h4 class="modal-title"><i class="fa fa-edit"></i> On-going updates notification</h4>
      </div>
      <div class="modal-body">
        <p class="modal_edit_status_name"><%= @applicant.name %>'s data has on-going update.</p>
        <p class="font15 text-capitalize"><strong><i class="fa fa-user"></i> Worker: <%= @applicant.last_updated_by %></strong></p>
        <p class="font15">
        <strong>
          <i class="fa fa-clock-o"></i>
          Date & Time: <%= @applicant.updated_at.to_time.strftime("%a, %e %b %Y %H:%M:%S") %> 
          </strong>&nbsp;
          <em>(<%=time_ago_in_words(@applicant.updated_at.to_time.strftime("%a, %e %b %Y %H:%M:%S"))%> ago)</em>
          
        </p>
      </div>
      <div class="modal-footer">
        <%if session[:role] == 'admin' %><a href="#" id='proceed_anyway' class="btn btn-lg btn-danger border_radius0">Proceed Anyway</a><% end %>
        <a href="<%= check_previous_page %>" class="btn btn-lg btn-warning border_radius0">Try Later</a>
      </div>
    </div>
  </div>
</div>
<!-- End of Modal -->

<input type="hidden" value="<%= @applicant.id %>" id="hidden_applicant_id">
<input type="hidden" value="<%= session[:username] %>" id="hidden_username">
<input type="hidden" value="<%= @applicant.last_updated_by %>" id="hidden_last_updated_by">

<div class="row">

<% if @applicant.errors.any? %>
  <div class="alert alert-danger custom_alert_notification">
    <button id="error_alert_x" type="button" class="close"><span aria-hidden="true">&times;</span></button>
    <strong>Oh snap!<br/> There was <%= pluralize(@applicant.errors.count, "error") %> prohibited this post from being saved:</strong>
    <div id="errorExplanation">
      <div>
        <% @applicant.errors.full_messages.each do |msg| %>
        <br /><p style="display: inline;">* <%= msg %></p>
        <% end %>            
      </div>
    </div>
  </div> 
<% end %>

<%= simple_form_for(@applicant, :url => applicant_path(@applicant, locale: I18n.locale), html: {class: "edit_applicant_form form-horizontal", multipart: true, novalidate: ''}) do |f| %>
  <div class="col-lg-12 pad0">
      <div class="row" style="text-align: left;">
          <div class="col-md-12">
              <%= render partial: 'form_headers' %>
              <div class="tab-content" id="tab_holder">
                <%= render partial: 'form_tabs', locals: {form_field: f, action: 'edit'}  %>
                <!-- Project Belong -->
                <div class="tab-pane" id="other_info">
                  <%= render(partial: "applicants/other_info", locals: {f: f}) %>                      
                  
                  <% if (@applicant.edit_status == true && @applicant.last_updated_by == session[:username].downcase) || (@applicant.edit_status == false || session[:role] == 'admin') %>
                    <div class="col-lg-12 margin_bottom_100">                      
                      <div class="text-right">
                        <a href="<%= applicants_path(locale: I18n.locale) %>" class="btn btn-warning btn-lg long-btn">CANCEL</a>
                        <%= f.button :submit, 'UPDATE NOW', id: 'submit_applicant', class: 'btn btn-danger btn-lg long-btn' %>
                      </div>
                    </div>
                  <% end %>

                </div>
              </div>
          </div>
      </div>
  </div>
<% end %>
</div>
<% end %>