<% content_for :include_styles do %>
  <%= stylesheet_link_tag "dataTables.bootstrap.css" %>
  <%= stylesheet_link_tag "dataTables.responsive.min.css" %>
<% end %>

<% content_for :include_scripts do %>
  <%= javascript_include_tag "jquery.dataTables.min.js" %>
  <%= javascript_include_tag "dataTables.bootstrap.min.js" %>  
  <%= javascript_include_tag "dataTables.responsive.min.js" %>
  <%= javascript_include_tag "modal_confirmation_function.js" %>
  <%= javascript_include_tag "applicants/index.js" %>
<% end %>

<% content_for :page_icon do %>
  <i class="fa fa-users custom_icon" aria-hidden="true"></i>
<% end %>

<% content_for :body do %>
<%= render partial: 'partial_pages/icons_legend' %>
<div class="row">
  <div class="col-lg-12 pad0">
    <div class="tab-content" id="tab_holder">
      <ul class="nav nav-tabs custom_nav_tab">
        <li class="active"><a href="#in_progress" data-toggle="tab" class="tab190">進行中/In-Progress <i class="fa fa-refresh fa-fw user_tab_icon"></i></a></li>
        <li><a href="#confirmed" data-toggle="tab" class="tab190">内定/Confirmed <i class="fa fa-check fa-fw user_tab_icon"></i></a></li>
        <li><a href="#waiting" data-toggle="tab" class="tab190">保留/Waiting <i class="fa fa-clock-o fa-fw user_tab_icon"></i></a></li>
        <li><a href="#failed" data-toggle="tab" class="tab190">ボツ/Failed <i class="fa fa-exclamation-triangle fa-fw user_tab_icon"></i></a></li>        
      </ul>
      
      <div class="tab-pane active" id="in_progress"><%= render partial: 'applicants/listing', locals: {applicants: @applicants, status: 'In-progress', id: 'in_progress'}  %></div>
      <div class="tab-pane" id="confirmed"><%= render partial: 'applicants/listing', locals: {applicants: @applicants, status: 'Confirmed', id: 'confirmed'} %></div>      
      <div class="tab-pane" id="waiting"><%= render partial: 'applicants/listing', locals: {applicants: @applicants, status: 'Waiting', id: 'waiting'}  %></div>
      <div class="tab-pane" id="failed"><%= render partial: 'applicants/listing', locals: {applicants: @applicants, status: 'Failed', id: 'failed'}  %></div>      
    </div>
  </div>
</div>
<% end %>