<% content_for :include_styles do %>
<%= stylesheet_link_tag "fileinput.min.css", media: "all" %>
<%= stylesheet_link_tag "bootstrap-datetimepicker.css" %>
<% end %>

<% content_for :include_scripts do %>
<%= javascript_include_tag "bootstrap-datetimepicker.js" %>
<%= javascript_include_tag "fileinput.min.js" %>
<%= javascript_include_tag "applicants/common_functions.js" %>
<% end %>

<% content_for :page_icon do %>
  <i class="fa fa-user custom_icon" aria-hidden="true"></i>
<% end %>

<% content_for :body do %>
<div class="row">
  <% if @applicant.errors.any? %>
    <div class="alert alert-danger custom_alert_notification">
      <button id="error_alert_x" type="button" class="close"><span aria-hidden="true">&times;</span></button>
      <strong>Oh snap!<br/> There was <%= pluralize(@applicant.errors.count, "error") %> prohibited this post from being saved:</strong>
      <div id="errorExplanation">
        <div>
          <% @applicant.errors.full_messages.each do |msg| %>
          <br /><p style="display: inline;">* <%= msg %></p>
          <% end %>            
        </div>
      </div>
    </div> 
  <% end %>

  <%= simple_form_for(@applicant, html: { class: 'form-horizontal', :multipart => true, :method => "post", novalidate: ''}) do |f| %>
    <div class="col-lg-12 pad0">
        <div class="row" style="text-align: left;">
            <div class="col-md-12">
                <%= render partial: 'form_headers' %>
                <div class="tab-content" id="tab_holder">
                  <%= render partial: 'form_tabs', locals: {form_field: f, action: 'new'}  %>
                  <!-- Project Belong -->
                  <div class="tab-pane" id="other_info">
                    <%= render(partial: "applicants/other_info", locals: {f: f}) %>                      
                    <div class="col-lg-12 margin_bottom_100">
                      <div class="text-right">
                        <a href="<%= applicants_path(locale: I18n.locale) %>" class="btn btn-warning btn-lg long-btn">CANCEL</a>
                        <%= f.button :submit, 'SAVE NOW', id: 'submit_applicant', class: 'btn btn-danger btn-lg long-btn' %>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  <% end %>
</div>
<% end %>