<% content_for :page_icon do %>
	<i class="fa fa- fa-clock-o custom_icon" aria-hidden="true"></i>
<% end %>

<% content_for :body do %>
<div class="row">
   <div class="col-lg-12 pad0">
      <div class="panel panel-default">
         <div class="panel-heading"><strong>Project History List</strong></div>
         <div class="panel-body">
            <div class="col-lg-2">
               <table style="width: 100%">
                  <tr><td><%= image_tag(@applicant.profile.url(:medium)) %></td></tr>
                  <tr><td class="history_applicant_info"><br><%= @applicant.name %></td></tr>
                  <tr><td class="history_other_info"><%= @applicant.country.try(:en_name) %></td></tr>
                  <tr><td class="history_other_info"><%= @applicant.email %></td></tr>
               </table>
            </div>
            <div class="col-lg-10 pad0">
               <% if @applicant.applicant_project_histories.empty? %>  
               	<h1 class="no_history">***No Project History***</h1>
               <% end %>
               
               <% @applicant.applicant_project_histories.each_with_index do |history, index| %>
               <div class="histories">
                  <div class="history_updater">
                     <% if index > 0 %><div class="arrow_history"></div><% end %>
                     <p class="float-left"><i class="fa fa-user history_icons"></i> Updated by: <span class="bold text-uppercase"><%= history.last_updated_by %></span></p>
                     <p class="float-right"><span class="bold"><%= history.updated_at.to_time.strftime("%d %b %Y, %A %l:%M %p")%></span>&nbsp;&nbsp;<i class="fa fa-clock-o history_icons"></i></p>
                  </div>                  
                  <table class="table table-bordered" cellpadding="0" cellspacing="0" style="border-top: none">
                     <thead>
                        <th style="width: 20%">Project Title</th>
                        <th style="width: 40%">Notes</th>
                        <th style="width: 13%">Client</th>
                        <th style="width: 13%">Partner</th>
                        <th style="width: 14%">Job Type</th>
                     </thead>
                     <tbody>                        
                        <tr>
                           <td>
                              <a href="/<%= I18n.locale %>/view_project_applicants?id=<%= history.try(:project).try(:id) %>" class='view_project' title='View this Project'>
                                 <p><%= history.try(:project).try(:title) %></p>
                              </a>
                           </td>
                           <td><p><%= raw(history.notes) %></p></td>
                           <td><p><%= history.try(:project).try(:client).try(:fullname) %></p></td>
                           <td><p><%= history.try(:project).try(:partner).try(:fullname) %></p></td>
                           <td><p><%= history.try(:project).try(:job_type).try(:en_name) %></p></td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <% end %>
            </div>
         </div>
      </div>
   </div>
</div>
<% end %>