<% content_for :include_styles do %>
  <%= stylesheet_link_tag "dataTables.bootstrap.css" %>
  <%= stylesheet_link_tag "dataTables.responsive.min.css" %>
<% end %>

<% content_for :include_scripts do %>
  <%= javascript_include_tag "jquery.dataTables.min.js" %>
  <%= javascript_include_tag "dataTables.bootstrap.min.js" %>  
  <%= javascript_include_tag "dataTables.responsive.min.js" %>
  <%= javascript_include_tag "modal_confirmation_function.js" %>
  <%= javascript_include_tag "applicants/index.js" %>
<% end %>

<% content_for :page_icon do %>
  <i class="fa fa-trash custom_icon" aria-hidden="true"></i>
<% end %>

<% content_for :body do %>
<div class="row">
  <div class="col-lg-12 pad0">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Requested By Partners</strong>            
        </div>        
        <div class="panel-body">
            <div class="table-responsive">
              <div class="dataTable_wrapper">
              <table class="table table-striped table-bordered table-hover" id="makeDataTable">
                  <thead>
                      <tr>
                        <th style="width: 5%">画像<br>Profile</th>
                        <th>名前<br>Name</th>
                        <th style="width: 12%">プロジェクト<br>Project</th>
                        <th style="width: 5%">性別<br>Gender</th>
                        <th style="width: 6%">生年月日<br>Birthdate</th>
                        <th style="width: 4%">年齢<br>Age</th>
                        <th style="width: 10%">出生国<br>Country</th>
                        <th style="width: 8%">宗教<br>Religion</th>
                        <th style="width: 14%">理由<br>Reason</th>
                        <th style="width: 12%">に要求された で要求<br>Requested By/At</th>
                        <th class="text-center">行動<br>Actions</th>
                      </tr>
                  </thead>
                  <tbody>              
                    <% @to_be_deleted.each do |a| %>
                      <tr id="tr_<%= a.id %>">
                        <td><%= image_tag(a.applicant.profile.url(:thumb), :style => 'height: 50px; width: 50px;', title: "registered #{time_ago_in_words(a.applicant.created_at)} ago") %></td>
                        <td><%= a.applicant.name %></td>
                        <td><%= a.applicant.project.try(:title) || '-' %></td>
                        <td><%= a.applicant.gender %></td>
                        <td><%= a.applicant.birth_date %></td>
                        <td><%= a.applicant.age %></td>
                        <td><%= a.applicant.country.try(:en_name) %></td>
                        <td><%= a.applicant.religion.try(:en_name) %></td>
                        <td><%= a.reason %></td>
                        <td>
                          <b><%= a.partner.try(:fullname) %></b>
                          <br>
                          <%= a.created_at.to_time.strftime("%a, %e %b %Y %H:%M") %>
                        </td>
                        <td class="text-center">
                        <% if can? :destroy, a.applicant %>
                        <a href="<%= edit_applicant_path(a.applicant, :locale => I18n.locale) %>" data-toggle="tooltip" title="View full info"><%= image_tag("/assets/icons/user.png", class: 'applicants_link') %></a>&nbsp;
                        <a href="/<%= I18n.locale %>/project_history?id=<%=a.applicant_id%>" data-toggle="tooltip" title="Project History"><%= image_tag("/assets/icons/history.png", class: 'history_link') %></a>&nbsp;
                        <a href="#" data-id="<%= a.id %>" class='restore_applicant' data-toggle="tooltip" title="Restore Applicant Record"><%= image_tag("/assets/icons/restore.png") %></a>&nbsp;
                        <a href="#" data-id="<%= a.applicant_id %>" class='delete_applicant' data-toggle="tooltip" title="Delete applicant"><%= image_tag("/assets/icons/delete.png") %></a>
                        <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
              </table>
              </div>
          </div>
        </div>        
    </div>
  </div>
</div>
<% end %>