<% content_for :include_styles do %>
<% end %>

<% content_for :include_scripts do %>
<% end %>

<% content_for :page_icon do %>
  <i class="fa fa-user custom_icon" aria-hidden="true"></i>
<% end %>

<% content_for :body do %>
<div class="row">    
  <div class="col-lg-12 pad0">
    <div class="panel panel-default">      
      <div class="panel-body">
        <!-- http://v4-alpha.getbootstrap.com/components/utilities/ -->        
        <div class="bd-example">
          <div class="embed-responsive embed-responsive-16by9">
            <!-- <iframe class="embed-responsive-item" src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen=""></iframe> -->
            <!-- <#%= raw(youtube_embed(@video_self_introduction_url)) %> -->
            <%= raw(@video_self_introduction_url) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>