
<input type="hidden" name="locale" value="<%= I18n.locale %>" />
<div align="left" class="form-group">
    <span class="col-md-1 text-center"><i class="fa fa-user bigicon"></i></span>
    <div class="col-md-11">
        <%= f.text_field :fullname, :class => "form-control text-capitalize", :placeholder => "Fullname *", autofocus: true, required: '' %>
    </div>
</div>
    
<div align="left" class="form-group">
    <span class="col-md-1 text-center"><i class="fa fa-users bigicon"></i></span>
    <div class="col-md-11">
        <%= f.text_field :username, :class => "form-control", :placeholder => "Username *", :autocomplete => "off", required: '' %>
    </div>
</div>

<div align="left" class="form-group">
    <span class="col-md-1 text-center"><i class="fa fa-key bigicon"></i></span>
    <div class="col-md-11">
        <%= f.password_field :password, :class => "form-control", :placeholder => "Password (minimum of 6 alphanumeric characters) *", :autocomplete => "off" %>
    </div>
</div>

<div><%= image_tag('icons/pass_gen.jpeg', id: 'open_pass_gen_modal') %></div>

<div align="left" class="form-group">
   <span class="col-md-1 text-center"><i class="fa fa-repeat bigicon"></i></span>
   <div class="col-md-11">
       <%= f.password_field :password_confirmation, placeholder: "Re-Type Password *", class: "form-control", data: {fv_identical: "true", fv_identical_field: "user[password]", fv_identical_message: "The passwords are not the same."} %>
   </div>
</div>

<div align="left" class="form-group">
  <span class="col-md-1 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
  <div class="col-md-11">
    <%= f.text_field :email, :class => "form-control", :placeholder => "Email Address *", required: '' %>
  </div>
</div>

<div align="left" class="form-group">
  <span class="col-md-1 text-center"><i class="fa fa-cogs bigicon"></i></span>
  <div class="col-md-11">
    <%= f.select(:role, [['Administrator Account','admin'], ['Partner Account','partner'], ['Client Account', 'client']], {}, {class: 'form-control'} )%>
  </div>
</div>

<div id="pww_logo_holder" align="left" class="form-group">
  <span class="col-md-1 text-center"><i class="fa fa-bookmark-o bigicon"></i></span>
  <div class="col-md-11">     
    <%= f.select(:pww_logo_id, @pww_logos.collect {|c| [ c.title, c.id ] }, {include_blank: '-select logo for PDF Reports-'}, class: 'form-control', :required => true) %>    
  </div>
</div>

<div align="left" class="form-group">
  <span class="col-md-1 text-center"><i class="fa fa-eye bigicon"></i></span>
  <div class="col-md-11">
    <%= f.select :status, options_for_select([['Activate User Access', true],['Deactivate User Acces',false]], :selected => @user.status), {}, { :class => 'form-control' } %>
  </div>
</div>

<div align="left" class="form-group">                  
  <span class="col-md-1 text-center">
  <% if action == 'new' %>
    <i class="fa fa-picture-o bigicon"></i>
  <% else %>
    <%= image_tag(user_profile_image(@user, 'thumb'), :class => 'round_me') %>
  <% end %>
  </span>
  <div class="col-md-11">
    <input id="user_upload_image" name="user[image]" type="file" class="file" data-preview-file-type="text" data-show-preview="true" data-show-upload="false" data-show-caption="true" />
  </div>
</div>

<div align="left" class="form-group">
  <span class="col-md-1 text-center"><i class="fa fa-phone-square bigicon"></i></span>
  <div class="col-md-11">
     <div class="input-group">
      <span class="input-group-addon input_jp" id="basic-addon1">&nbsp;&nbsp;&nbsp;&nbsp;</span>                  
      <%= f.text_field :phone, :class => "form-control", :maxlength => "20", :placeholder => "Phone Number (optional only)" %>
    </div>
  </div>
</div>

<div align="left" class="form-group">
  <span class="col-md-1 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
  <div class="col-md-11">
    <%= f.text_area :description, :class => "form-control ", :placeholder => "Enter user description here (optional only)", :rows => "5" %>
  </div>
</div>

<!-- Save Now Button -->
<div class="col-md-12 pad0">
    <div class="text-right">
      <a href="<%= users_path(locale: I18n.locale) %>" class="btn btn-warning btn-lg long-btn">CANCEL</a>
      <%= f.submit 'SAVE NOW', class: 'btn btn-danger btn-lg long-btn' %>
    </div>
</div> 