<div class="modal fade" id="modal_generate_password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-center" style="margin-top: 140px;">            
      <div class="fade in margin_btm30" role="alert">
        <%= image_tag("close.png", class: 'modal_close_btn') %>
        <h2 class="are_you_sure">Generator For Secure Password!</h2>
        <div class="text-center"><b>Copy and paste the generated random texts in password fields.</b></div>
        <div id="gen_pass_wrapper" class="text-center">
          <input type="text" id="generated_random_password" />
        </div>
        <button id="generate_password_btn" class="btn btn-lg btn-danger">Generate Now</button>
        <button id="copy_generated_password" data-clipboard-target="#generated_random_password" data-toggle="popover" data-content="Copied!" class="btn btn-lg btn-warning">Copy</button>
      </div>
    </div>
  </div>
</div>