<div class="panel panel-default">
  <div class="panel-body">
    <div class="table-responsive">
      <div class="dataTable_wrapper">
        <table class="table table-striped table-bordered table-hover makeDataTable" id="user_table_<%= account %>">
          <thead>
            <tr>
              <th style="width: 5%;">Profile</th>
              <th style="width: 15%;">Username</th>
              <th style="width: 15%;">Fullname</th>              
              <th style="width: 8%;">Status</th>
              <th style="width: 15%;">Email</th>              
              <th style="width: 15%;" class="text-center">PDF Report Logo</th>
              <th style="width: 12%;">Last Updated By/At</th>
              <th style="width: 15%;" class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <%
            case account
            when 'admins'
              users = users.admins
            when 'partners'
              users = users.partners
            when 'clients'
              users = users.clients
            end
            %>
            <% users.each do |user| %>
              <tr>
                <td><%= image_tag(user_profile_image(user, 'thumb'), :class => 'height_width50') %></td>
                <td><%= user.username %></td>
                <td class="text-capitalize"><%= user.fullname %></td>                
                <td class="<%= user.status == true ? 'activated' : 'deactivated' %>"><%= user.status == true ? 'Activated' : 'Deactivated' %></td>
                <td><%= !user.email.blank? ? user.email : '-' %></td>      
                <td class="text-center">
                  <b><%= user.try(:pww_logo).try(:title) %></b><br>
                  <%= image_tag user.try(:pww_logo).try(:logo).url(:medium), style: 'max-height: 40px;' if user.pww_logo %>
                </td>
                <td>
                  <strong><%= !user.last_updated_by.blank? ? user.last_updated_by : '-' %></strong>
                  <br><%= user.updated_at.to_time.strftime("%a, %e %b %Y %H:%M") %>
                </td>
                <td class="text-center">
                  <a href="<%= edit_user_path(user, :locale => I18n.locale) %>" class="edit_user"><i class="fa fa-edit list_icon" aria-hidden="true"></i></a>
                  <a href="#" class='delete_user_account' data-id="<%= user.id %>" title="Remove <%= user.username %>"><i class="fa fa-remove list_icon" aria-hidden="true"></i></a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>          
  </div>
</div>