<% content_for :include_styles do %>
  <%= stylesheet_link_tag "dataTables.bootstrap.css" %>
  <%= stylesheet_link_tag "dataTables.responsive.min.css" %>  
<% end %>

<% content_for :include_scripts do %>
  <%= javascript_include_tag "jquery.dataTables.min.js" %>
  <%= javascript_include_tag "dataTables.bootstrap.min.js" %>
  <%= javascript_include_tag "dataTables.responsive.min.js" %>
  <%= javascript_include_tag "modal_confirmation_function.js" %>
<% end %>

<% content_for :page_icon do %>
  <i class="fa fa-group custom_icon" aria-hidden="true"></i>
<% end %>

<% content_for :body do %>
<div class="row">
  <div class="col-lg-12 pad0">
    <div class="tab-content" id="tab_holder">
      <ul class="nav nav-tabs custom_nav_tab">
        <li class="active"><a href="#partners" data-toggle="tab" class="tab190" id="partner_accounts">Partners Account <i class="fa fa-chain fa-fw user_tab_icon"></i></a></li>
        <li><a href="#clients" data-toggle="tab" class="tab190" id="client_accounts">Clients Account <i class="fa fa-briefcase fa-fw user_tab_icon"></i></a></li>
        <li><a href="#admins" data-toggle="tab" class="tab190" id="admin_accounts">Admin Account <i class="fa fa-gears fa-fw user_tab_icon"></i></a></li>
      </ul>
      
      <div class="tab-pane active" id="partners"><%= render partial: 'users/listing', locals: {users: @users, account: 'partners'}  %></div>
      <div class="tab-pane" id="clients"><%= render partial: 'users/listing', locals: {users: @users, account: 'clients'}  %></div>
      <div class="tab-pane" id="admins"><%= render partial: 'users/listing', locals: {users: @users, account: 'admins'}  %></div>
    </div>
  </div>
</div>
<% end %>