<% content_for :page_icon do %>
  <i class="fa fa-check-square-o custom_icon" aria-hidden="true"></i>
<% end %>
<%= render(partial:'partial_pages/common_page', locals: {listing_header: 'Skill Check Test List', form_header: 'Add Skill Check Test', action: 'aptitude_tests'}) %>