<div id="success_alert" class="alert" style="display: <%= flash[:status] == 'success' ? 'block' : 'none' %>; <%= css %>">
  <button id="success_alert_x" type="button" class="close"><span aria-hidden="true">&times;</span></button>
  <strong>Well done! </strong>
  <p style="display: inline;" id="success_alert_message"><%= flash[:notice] %></p>
</div>

<div id="error_alert" class="alert alert-<%= flash[:status] %>" style="display: <%= flash[:status] == 'error' ? 'block' : 'none' %>; <%= css %>">
  <button id="error_alert_x" type="button" class="close"><span aria-hidden="true">&times;</span></button>
  <strong>Oh! </strong>
  <p style="display: inline;" id="error_alert_message"><%= flash[:notice] %></p>
</div>