<div class="panel-heading">
    <div class="row">
        <div class="col-lg-5">
            <i class="fa fa-list-alt fa-fw"></i> Latest Projects List
        </div>
        <div class="col-lg-7">
            <i class="fa fa-bar-chart-o fa-fw"></i> Project's Progress Status
        </div>
    </div>
</div>                  
                        
<div class="panel-body">
    <div class="row">
        <div class="col-lg-5 pad-right0">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped" style="font-size: 13px;">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Job Description</th>
                            <% if session[:role] == 'admin' %>
                                <th>Company</th>
                                <th>Partner & Client</th>
                            <% else %>                        
                                <th>Needed Applicants</th>
                                <th>Registered Applicants</th>
                            <% end %>
                        </tr>
                    </thead>
                    <tbody>
                        <% if @projects.empty? && session[:role] != 'admin' %>
                            <tr><td colspan="4">-No Project-</td></tr>
                        <% end %>

                        <% @projects.each do |project| %>
                        <% @count_associated = project.count_associated_applicants(session[:role])  %>
                        <tr>
                            <% if session[:role] == 'admin' %>
                                <td class="capitalize"><a href="/<%=I18n.locale%>/view_project_applicants?id=<%=project.id%>"><%= project.title %></a></td>
                                <td><%= project.job_type.try(:en_name) %></td>
                                <td><%= project.company_name %></td>                  
                                <td>* <%= project.partner.try(:fullname) %><br>* <%= project.client.try(:fullname) %></td>                                
                            <% else %>
                                <td class="capitalize"><%= project.title %></td>                            
                                <td><%= project.job_type.try(:en_name) %></td>                                
                                <td><%= project.no_of_needed_applicants %></td>
                                <td><%= @count_associated %></td>
                            </td>
                            <% end %>
                            
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="col-lg-7 pad-right0">
            <div id="morris-bar-chart"></div>
        </div>
    </div>
</div>