<div class="row">
    <div class="col-lg-3 pad0 category_border_right3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><%= number_to_human(@applicants.count) %></div>
                        <div>Resumes</div>
                    </div>
                </div>
            </div>        
        </div>
    </div>

    <div class="col-lg-3 pad0 category_border_right2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-plane fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><%= number_to_human(@applicants.in_progress.count) %></div>
                        <div>In-progress Resumes</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 pad0 category_border_right3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><%= number_to_human(@projects.count) %></div>
                        <div>Projects</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 pad0 category_border_left">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><%= number_to_human(@projects.in_progress.count) %></div>
                        <div>In-progress Projects</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>