<div class="panel-heading">
    <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example
</div>
<div class="panel-body">
    <div id="morris-donut-chart"></div>
    <a href="#" class="btn btn-default btn-block">View Details</a>
</div>