<!-- Modal Confirmation -->
<div class="modal fade" id="modal_confirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-center" style="margin-top: 140px;">      
      <div class="fade in margin_btm30" role="alert">
        <h2 class="are_you_sure"><%=t :are_you_sure %></h2>        
        
        <div class="text-center" style="margin-bottom: 15px;">
          <div id="modal_message_content"></div>
          <input type="password" id="modal_password" class="form-control" name="password" autofocus="" placeholder="Enter your password:" />
          <textarea class="form-control request_reason" rows="2" placeholder="Leave your reason:"></textarea>
        </div>

        <div class="invalid_pass"></div>
        <button id="yes_continue" data-id="" data-action="" type="button" class="btn btn-lg btn-danger"><%=t :yes_continue %></button>
        &nbsp;&nbsp;&nbsp;
        <button class="no_cancel_close_modal btn btn-lg btn-warning"  type="button"><%=t :no_cancel %></button>        
      </div>
    </div>
  </div>
</div>