 <nav class="navbar navbar-default navbar-static-top nav_bg" role="navigation" style="margin-bottom: 0">    
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/<%= I18n.locale %>"><%= image_tag("/assets/pww_japan_header_small.png", class: 'nav_logo') %></a>
    </div>
    
    <%= render partial: 'home/upper_links' %>

    <% if session[:role] == 'admin'  %>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search" style="padding: 15px 5px 15px 5px;">
                        <%= render partial: 'home/quick_search' %>
                    </li>
                    
                    <li id="dashboard"><a href="<%= home_path(locale: I18n.locale) %>"><i class="fa fa-desktop fa-fw"></i> Dashboard</a></li>
                    
                    <li id="<%= controller_name == 'search' ? @menu : '' %>"><a href="<%= search_path(:locale => I18n.locale) %>"><i class="fa fa-search fa-fw"></i> Advanced Search</a></li>

                    <li id="applicants">
                        <a href="#"><i class="fa fa-users fa-fw"></i> <span class="fa arrow"></span>Applicants</a>                    
                        <ul class="nav nav-second-level">
                            <li><a id="applicants_index" href="<%= applicants_path(:locale => I18n.locale) %>">List of Applicants</a></li>
                            <% if can? :create, Applicant %>
                                <li><a id="applicants_new" href="<%= new_applicant_path(:locale => I18n.locale) %>">New Applicant</a></li>
                            <% end %>

                            <% if can? :destroy, Applicant %>
                                <li><a id="requests_for_applicant_record_deletion" href="<%= requests_for_applicant_record_deletion_path(:locale => I18n.locale) %>">Requested To Be Deleted</a></li>
                            <% end %>
                        </ul>
                    </li>
                    
                    <li id="projects">
                        <a href="#"><i class="fa fa-gears fa-fw"></i> Project Management<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="<%= projects_path(:locale => I18n.locale) %>">List of Projects</a></li>
                            <li><a href="<%= new_project_path(:locale => I18n.locale) %>">Create Project</a></li>
                        </ul>
                    </li>
                    
                    <li id="users">
                        <a href="#"><i class="fa fa-key fa-fw"></i> <span class="fa arrow"></span> User Access</a>
                        <ul class="nav nav-second-level">
                            <li><a class="users_index" href="<%= users_path(:locale => I18n.locale) %>">User List</a></li>
                            <li><a class="users_new" href="<%= new_user_path(:locale => I18n.locale) %>">New User</a></li>
                        </ul>
                    </li>

                    <li id="pww_logos">
                        <a href="#"><i class="fa fa-bookmark-o fa-fw"></i> PDF Header Management<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="pww_logos_index" href="<%= pww_logos_path(:locale => I18n.locale) %>">Header List</a></li>
                            <li><a class="pww_logos_new" href="<%= new_pww_logo_path(:locale => I18n.locale) %>">New Header</a></li>
                        </ul>
                    </li>

                    <li id="data_management">
                        <a href="#"><i class="fa fa-database fa-fw"></i> <span class="fa arrow"></span> Data Management</a>
                        <ul class="nav nav-second-level">
                            <li><a class="academic_abilities_index" href="<%= academic_abilities_path(:locale => I18n.locale) %>">Academic Ability</a></li>
                            <li><a class="aptitude_tests_index" href="<%= aptitude_tests_path(:locale => I18n.locale) %>">Skill Check Tests</a></li>
                            <li><a class="countries_index" href="<%= countries_path(:locale => I18n.locale) %>">Countries</a></li>
                            <li><a class="file_types_index" href="<%= file_types_path(:locale => I18n.locale) %>">File Types</a></li>
                            <li><a class="job_types_index" href="<%= job_types_path(:locale => I18n.locale) %>">Job Types</a></li>
                            <li><a class="religions_index" href="<%= religions_path(:locale => I18n.locale) %>">Religions</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="bottom_pww">
                    <p>People World Wide | Admin v1.0</p>
                    <p>&copy; All rights reserved 2016</p>
                </div>
            </div>
            <!-- /.sidebar-collapse -->        
        </div>
    <% end %>
    <!-- /.navbar-static-side -->    
</nav>