<div class="panel-heading">
    <i class="fa fa-bell fa-fw"></i> Quick Notifications Panel
</div>
<!-- /.panel-heading -->
<div class="panel-body">
    <div class="list-group">
        <a href="#" class="list-group-item">
            <i class="fa fa-gears fa-fw"></i> <%= number_to_human(@admins.count) %> Admin Users
            <span class="pull-right text-muted small"><em>since <%= helper_check_last_record(@admins) %> ago</em></span>
        </a>
        <a href="#" class="list-group-item">
            <i class="fa fa-user fa-fw"></i> <%= number_to_human(@partners.count) %> Partners
            <span class="pull-right text-muted small"><em>since <%= helper_check_last_record(@partners) %> ago</em></span>
        </a>
        <a href="#" class="list-group-item">
            <i class="fa fa-user-md fa-fw"></i> <%= number_to_human(@clients.count) %> Clients
            <span class="pull-right text-muted small"><em>since <%= helper_check_last_record(@clients) %> ago</em></span>
        </a>
        <a href="#" class="list-group-item">
            <i class="fa fa-list-alt fa-fw"></i> <%= number_to_human(@projects.count) %> Projects
            <span class="pull-right text-muted small"><em>since <%= helper_check_last_record(@projects) %> ago</em></span>
        </a>
        <a href="#" class="list-group-item">
            <i class="fa fa-users fa-fw"></i> <%= number_to_human(@applicants.today.count) %> Today's Registered Applicants
            <span class="pull-right text-muted small"><em>since <%= time_ago_in_words(Time.now.beginning_of_day) %> ago</em></span>
        </a>
    </div>
</div>