<div class="row non_admin_nav" style="width: 100%; margin-right: 0px; margin-left: 0px;">
    <div class="col-lg-8">
        <ul class="non_admin_ul">
            <li id="home_index"><a href="/<%= I18n.locale %>"><i class="fa fa-home"></i> Dashboard</a></li>
            <li id="applicants_index"><a href="<%= applicants_path(:locale => I18n.locale) %>"><i class="fa fa-users"></i> List of Applicants</a></li>
            <li id="projects_index"><a href="<%= projects_path(:locale => I18n.locale) %>"><i class="fa fa-list-alt"></i> My Projects</a></li>
            <li id="applicants_new"><a href="<%= new_applicant_path(:locale => I18n.locale) %>"><i class="fa fa-user"></i> Register Applicant</a></li>
            <li id="search_index"><a href="<%= search_path(:locale => I18n.locale) %>"><i class="fa fa-search"></i> Advanced Search</a></li>
        </ul>
    </div>
    <div class="col-lg-4 pad-left0">
        <div style="padding-top:5px;"></div>
        <!-- Quick Search For Partner's Account -->
        <%= render partial: 'home/quick_search' %>
    </div>
</div>