<%= form_tag(quick_search_path(locale: I18n.locale), method: :get) do %>
  <div class="input-group custom-search-form">
      <input type="text" class="form-control" name="applicant_name" placeholder="Quick Search By Name..." required>
      <span class="input-group-btn">
          <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
      </span>
  </div>
<% end %>