 <ul class="nav navbar-top-links navbar-right">
    <li class="hi_user">Hello, <span class="nav_gold"><%= session[:username] %></span>|</li>
    <li><div class="todayDate"><%= Time.new.strftime("%A, %d %B %Y") %></div></li>
    <% if can? :manage, Project %>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="Latest Project's Progress">
                <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-tasks">
                <% @latest_projects.each_with_index do |project, index| %>
                    <% @percent = percent_of(project.no_of_needed_applicants, project.count_associated_applicants(session[:role])) %>
                    <li>
                        <a href="/<%= I18n.locale %>/view_project_applicants?id=<%= project.id %>">
                            <div>
                                <p>
                                    <strong><%= project.title %></strong>
                                    <span class="pull-right text-muted"><%= @percent %>%</span>
                                </p>
                                <div class="progress progress-striped active" style="background-color: rgba(91,192,222,0.25);">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%= @percent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percent %>%">
                                        <span class="sr-only"><%= @percent %>%</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                <% end %>           
                <li>
                    <a class="text-center" href="<%= projects_path(locale: I18n.locale) %>">
                        <strong>See All Projects</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </li>

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="Requests to be deleted.">
                <span class="request_of_deletion_count"><%= @request_of_deletion.count %></span> <i class="glyphicon glyphicon-trash fa-fw"></i>
                <% if @request_of_deletion.count != 0 %><i class="fa fa-caret-down"></i><% end %>
            </a>
            <% if @request_of_deletion.count != 0 %>
                <ul class="dropdown-menu dropdown-messages view_all_deletion_request">
                    <% @request_of_deletion.limit(5).each do |request| %>
                        <li class="request_of_deletion_<%= request.id %>">
                            <div class="requests">
                                <span class="chat-img pull-left"><%= image_tag(user_profile_image(request.partner, 'thumb'), class: 'img-circle request_img height60') %></span>
                                <span class="space_normal"><strong class="text-capitalize maroon_text"><%= request.partner.try(:fullname) %></strong></span>
                                <span class="pull-right text-muted">
                                    <em class="request_delete_date"><%= time_ago_in_words(request.created_at) %> ago</em>
                                </span>
                            </div>
                            <div class="request_content">
                                <p><span class="chat-img pull-left"><%= image_tag(request.applicant.profile(:thumb), class: 'img-circle request_img height50') %></span></p>
                                <p class="text-capitalize"><b>Who:</b> <span class="deletion_gold"><%= request.applicant.try(:name).try(:capitalize) %></span></p>
                                <p><b>Why:</b> <%= request.reason %></p>
                            </div>
                        </li>
                        <li class="divider request_of_deletion_<%= request.id %>"></li>
                    <% end %>
                    
                    <li>
                        <a class="text-center active_menu" href="<%= requests_for_applicant_record_deletion_path(:locale => I18n.locale) %>">
                            <strong>View Requests</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            <% end %>
        </li>
    <% end %>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= image_tag(session[:profile], class: 'profile_small') %>&nbsp;
        <i class="fa fa-fw"></i><i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <% if can? :update, User %>
                <li><a href="<%= edit_user_path(session[:user_id], locale: I18n.locale) %>"><i class="fa fa-gears fa-fw"></i> User Profile</a></li>
                <li class="divider"></li>
            <% end %>            
            <li>
                <!-- <#%= link_to 'Logout', logout_path(locale: I18n.locale), method: :delete %> -->
                <a class="logout" rel="nofollow" data-method="delete" href="/<%= I18n.locale %>/logout"><i class="fa fa-sign-out fa-fw"></i> ログアウト/Logout</a>
            </li>
        </ul>
    </li>    
</ul>