<% content_for :include_styles do %>
  <!-- Morris Charts CSS -->
  <%= stylesheet_link_tag "morris.css" %>
<% end %>

<% content_for :include_scripts do %>
  <!-- Morris Charts JavaScript -->
  <%= javascript_include_tag "raphael-min.js" %>
  <%= javascript_include_tag "morris.min.js" %>
  <%= javascript_include_tag "morris-data.js" %>
<% end %>

<% content_for :page_icon do %>
  <i class="fa fa-desktop custom_icon" aria-hidden="true"></i>
<% end %>

<% content_for :body do %>
  <%= render 'home/categories' %>

  <div class="row">
    <div class="col-lg-12 pad0">
      <div class="panel panel-default">
        <%= render 'home/bar_chart' %>
      </div>
    </div>
  </div>
  
  <% if session[:role] == 'admin' %>
    <div class="row">
      <div class="col-lg-12 pad0">
        <div class="panel panel-default">
            <%= render 'home/notification_panel' %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>