<div class="form-group">
  <div class="col-md-12">
    <label>Header Title:</label>
    <%= f.text_field :title, :class => "form-control", :placeholder => "Logo Title *", autofocus: true, required: '', autocomplete: 'off' %>
  </div>
</div>

<div class="form-group">
  <div class="col-md-12">
    <%= image_tag(@pww_logo.logo.url(:medium), :class => '') if action == 'edit' %>
    <br>
    <label>Upload Logo:</label>
    <input name="pww_logo[logo]" id="pww_logo_image" type="file" class="file" data-preview-file-type="text" data-show-preview="true" data-show-upload="false" data-show-caption="true" />
  </div>
</div>

<div class="form-group">
  <div class="col-md-12">
    <label>Company Address:</label>
    <%= f.cktext_area :content, ckeditor: { toolbar: 'mini' }%>
  </div>
</div>

<div class="col-md-12 pad0">
  <div class="text-right">
    <a href="<%= pww_logos_path(locale: I18n.locale) %>" class="btn btn-warning btn-lg long-btn">CANCEL</a>
    <%= f.submit 'SAVE NOW', class: 'btn btn-danger btn-lg long-btn' %>
  </div>
</div>