<% content_for :include_styles do %>
  <%= stylesheet_link_tag "dataTables.bootstrap.css" %>
  <%= stylesheet_link_tag "dataTables.responsive.min.css" %>  
<% end %>

<% content_for :include_scripts do %>
  <%= javascript_include_tag "jquery.dataTables.min.js" %>
  <%= javascript_include_tag "dataTables.bootstrap.min.js" %>
  <%= javascript_include_tag "dataTables.responsive.min.js" %>
  <%= javascript_include_tag "modal_confirmation_function.js" %>
<% end %>

<% content_for :page_icon do %>
  <i class="fa fa-bookmark-o custom_icon" aria-hidden="true"></i>
<% end %>

<% content_for :body do %>
<div class="row">
  <div class="col-lg-12 pad0">
      <div class="panel panel-default">
        <div class="panel-heading">
            <strong>List of Headers</strong>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <div class="dataTable_wrapper">
              <table class="table table-striped table-bordered table-hover" id="makeDataTable">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Logo</th>
                    <th>Address</th>
                    <th>Last Updated At</th>                    
                    <th class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% @pww_logos.each do |pww| %>
                    <tr>
                      <td><%= pww.title %></td>
                      <td><%= image_tag(pww.logo.url(:medium), :class => '') %></td>
                      <td><%= raw(pww.content) %></td>
                      <td><%= pww.updated_at.to_time.strftime("%a, %e %b %Y %H:%M") %></td>                      
                      <td class="text-center">
                        <a href="<%= edit_pww_logo_path(pww, :locale => I18n.locale) %>"><i class="fa fa-edit list_icon" aria-hidden="true"></i></a>                        
                        <a href="#" class='delete_pww_logo' data-id="<%= pww.id %>" title="Delete <%= pww.title %>"><i class="fa fa-remove list_icon" aria-hidden="true"></i></a>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>    
  </div>
</div>
<% end %>