<% content_for :include_styles do %>
  <%= stylesheet_link_tag "fileinput.min.css", media: "all" %>  
<% end %>

<% content_for :include_scripts do %>
  <%= javascript_include_tag "fileinput.min.js" %>
  <%= javascript_include_tag "clipboard.min.js"  %>
  <%= javascript_include_tag "generate_password.js" %>
<% end %>

<% content_for :page_icon do %>
  <i class="fa fa-bookmark-o custom_icon" aria-hidden="true"></i>
<% end %>

<% content_for :body do %>
<div class="row">
  <% if @pww_logo.errors.any? %>
    <div class="alert alert-danger custom_alert_notification">
      <button id="error_alert_x" type="button" class="close"><span aria-hidden="true">&times;</span></button>
      <strong>There was <%= pluralize(@pww_logo.errors.count, "error") %> prohibited this post from being saved:</strong>
      <div id="errorExplanation">      
          <% @pww_logo.errors.full_messages.each do |msg| %>
          <p style="display: inline;">* <%= msg %></p><br />
          <% end %>
      </div>
    </div> 
  <% end %>
  
  <%= form_for @pww_logo, :url => @pww_logos_path, :html => {:class => "form-horizontal", :multipart => true, :method => "post"} do |f| %>    
    <div class="col-lg-12 pad0">
        <div class="panel panel-default">
            <div class="panel-heading text-uppercase"><strong>New Header Information</strong></div>
            <div class="panel-body"><%= render partial: 'form', locals: {f: f, action: 'new'} %></div>
        </div>
    </div>    
  <% end %>
</div>
<% end %>