<% content_for :page_icon do %>
  <i class="fa fa-flag custom_icon" aria-hidden="true"></i>
<% end %>
<%= render(partial:'partial_pages/common_page', locals: {listing_header: 'Religions List', form_header: 'Add Religion', action: 'religions'}) %>