<div class="panel panel-default">
  <!-- <div class="panel-heading"><strong>プロジェクトの詳細 / Project's Details</strong></div> -->
  <div class="panel-body">
    <div class="table-responsive">
      <div class="dataTable_wrapper">
        <table class="table table-striped table-bordered table-hover makeDataTable" id="dataTable_<%= id %>">
          <thead>
            <tr>
              <th style="width: 13%">タイトル/Title</th>
              <th style="width: 13%">会社名/Company</th>
              <% if can? :manage, Project %><th style="width: 10%;">Partner & Client</th><% end %>
              <th style="width: 7%">国/Country</th>
              <th style="width: 10%">業種/Job Type</th>
              <% if session[:role] != 'client' %><th style="width: 5%;" class="text-center">添付ファイル/File</th><% end %>
              <th style="width: 12%">進行状況/Progress</th>
              <th style="width: 7%;">ステータス/Status</th>
              <% if can? :manage, Project %><th style="width: 8%">Updated By/At</th><% end %>
              <th style="width: 7%" class="text-center">アクション/Action</th>
            </tr>
          </thead>
          <tbody>
          <%
            case status
            when 'In-progress'
              projects = projects.in_progress
            when 'Waiting'
              projects = projects.waiting
            when 'Failed'
              projects = projects.failed
            when 'Done'
              projects = projects.done
            end
          %>
          <% projects.each do |project| %>
          <tr>
            <td><%= project.title %></td>
            <td><%= project.company_name %></td>
            <% if can? :manage, Project %><td>*<%= project.try(:partner).try(:fullname) %><br>*<%= project.try(:client).try(:fullname)  %></td><% end %>
            <td><%= raw(to_break(project.country.try(:combine_jp_and_en_name))) %></td>
            <td><%= raw(to_break(project.job_type.try(:combine_jp_and_en_name))) %></td>
            <% if session[:role] != 'client' %>
              <td class="text-center">
                <% unless project.document_file_name.nil? %>
                  <%= image_tag(icon_for(File.extname(project.document.url).try(:downcase)), style: 'height: 20px') %>
                <% else %>
                No-File
                <% end %>
              </td>
            <% end %>
            <td>
              <%
                @count_associated = project.count_associated_applicants(session[:role])
                @percent = percent_of(project.no_of_needed_applicants, @count_associated)
              %>
              <p><strong>レジュメ数:</strong> <b><%= @count_associated %><b>/</b><%= project.no_of_needed_applicants %></b></p>                    
              <div class="progress progress-striped active margin_bottom_0" style="background-color: rgba(91,192,222,0.25);">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%= @percent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percent %>%">
                    <span class="sr-only"><%= @percent %>%</span>
                </div>
              </div>
              <%= project_percentage(@percent) %>
            </td>
            <td><%= raw(helper_progress_status(project.status)) %></td>                          
            <% if can? :manage, Project %>
              <td>
                <b><%= project.last_updated_by %></b>
                <br><%= project.updated_at.to_time.strftime("%e %b %Y %H:%M") %>
              </td>
            <% end %>
            <td class="text-center">
            <% if can? :read, Project %>
              <a href='/<%=I18n.locale%>/view_project_applicants?id=<%=project.id%>' title='View Applicants under <%= project.title %>'><i class='fa fa-users font20 view_info' aria-hidden='true'></i></a>&nbsp;
            <% end %>

            <% if can? :destroy, Project %>
              <a href='#' class='delete_project' data-id="<%= project.id %>" title='Remove <%= project.title %>'><i class='fa fa-remove font20 remove_added' aria-hidden='true'></i></a>&nbsp;
              <a href='<%= edit_project_path(project, locale: I18n.locale) %>' title='Edit <%= project.title %>'><i class='fa fa-edit font20' aria-hidden='true'></i></a>
              <% if Rails.env.development? %>
              &nbsp;
              <a href='#' class="send_mail" data-id="<%=project.id%>" data-partner="<%=project.partner.id%>|<%=project.partner.try(:fullname)%>" data-client="<%=project.client.id%>|<%=project.client.try(:fullname)%>" title='Send <%= project.title %> Email Job Order'>
                <i class='fa fa-envelope-o font20 mail'></i>
              </a>
              <% end %>
            <% end %>
            </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
</div>
</div>