<div class="form-group">
  <label>Project Title:</label>
  <%= f.text_field :title, :class => "form-control", :placeholder => "Project Title *", autofocus: true, required: '', autocomplete: 'off' %>
</div>

<div class="form-group">
  <label>Company Name:</label>
  <%= f.text_field :company_name, :class => "form-control", :placeholder => "Company Name *", autofocus: true, required: '', autocomplete: 'off' %>
</div>

<div class="form-group">
  <label>Description:</label>
  <%= f.cktext_area :description%>
  <!-- , ckeditor: { uiColor: '#AADC6E', toolbar: 'mini' } -->
</div>

<div class="col-lg-12 pad0">
  <div class="col-lg-6 pad-left0">
    <div class="form-group">
      <label>Partner Assigned:</label>
      <%= f.select(:partner_id, User.partners.collect {|p| [ p.fullname, p.id ] }, {include_blank: '-select here-', :selected => @project.partner_id}, { class: 'form-control', required: '' }) %>
    </div>
  </div>
  <div class="col-lg-6 pad-right0">
    <div class="form-group">
      <label>Client Assigned:</label>
      <%= f.select(:client_id, User.clients.collect {|p| [ p.fullname, p.id ] }, {include_blank: '-select here-', :selected => @project.client_id}, { class: 'form-control', required: '' }) %>
    </div>
  </div>


  <div class="col-lg-6 pad-left0">
    <div class="form-group">
      <label>No. of needed applicants:</label>            
      <%= f.text_field :no_of_needed_applicants, :class => "form-control", type: 'number', min: '0', :placeholder => "No. of applicants needed *", required: '', autocomplete: 'off' %>
    </div>
  </div>
  <div class="col-lg-6 pad-right0">
    <div class="form-group">
      <label>Country of work</label>
       <%= f.select(:country_id, @countries.collect {|c| [ "#{c.jp_name}/#{c.en_name}", c.id ] }, {include_blank: '-select here-', :selected => @project.country_id}, { class: 'form-control', required: '' }) %>
    </div>
  </div>

   <div class="col-lg-6 pad-left0">
    <div class="form-group">
      <label>Job Description</label>
      <%= f.select(:job_type_id, @job_types.collect {|j| [ "#{j.jp_name}/#{j.en_name}", j.id ] }, {include_blank: '-select here-', :selected => @project.job_type_id}, { class: 'form-control', required: '' }) %>
    </div>
  </div>
  <div class="col-lg-6 pad-right0">
    <div class="form-group">
      <label>Status:</label>
      <%= f.select :status, options_for_select([ "In-progress", "Waiting", "Failed", "Done" ], @project.status),{include_blank: '-select here-'}, {class: 'form-control', required: ''} %>
    </div>
  </div>
</div>

<div class="form-group">  
  <label class="valid_files show_main_document" style="display: <%= !@project.document_file_name.blank? ? 'block' : 'none'; %>">
    <% unless @project.document_file_name.nil? %>
      <%= image_tag(icon_for(File.extname(@project.document.url)), style: 'height: 20px') %>&nbsp;
      <%= link_to @project.document_file_name, @project.document.url, target: "_blank" %>&nbsp;
      <% if action == 'edit' %>
        <a href="#" class="project_remove_document" data-id="<%= @project.id %>"><i class="fa fa-remove remove_document"></i></a>
      <% end %>
    <% end %>
  </label>

  <label class="valid_files show_icon_document" style="display: <%= @project.document_file_name.blank? ? 'block' : 'none'; %>">
    Project's Document:
    <%= image_tag(icon_for('docx'), style: 'height: 20px', title: 'Word Document') %>&nbsp;
    <%= image_tag(icon_for('pdf'), style: 'height: 20px', title: 'PDF Document') %>&nbsp;
    <%= image_tag(icon_for('png'), style: 'height: 20px', title: 'Image Document') %>
  </label>
    

  <%= f.file_field :document, class: 'file', data: {'preview-file-type': 'text', 'show-upload': 'false'} %>                  
</div>

<div class="form-group">
  <label>Admin Notes:</label>
  <%= f.cktext_area :notes %>
</div>

<div class="text-right margBtm30">
  <a href="<%= projects_path(locale: I18n.locale) %>" class="btn btn-warning btn-lg long-btn">CANCEL</a>
  <%= f.submit 'SAVE NOW', class: 'btn btn-danger btn-lg long-btn' %>                      
</div>