<% content_for :include_styles do %>
  <%= stylesheet_link_tag "fileinput.min.css" %>
<% end %>

<% content_for :include_scripts do %>
  <%= javascript_include_tag "jquery.dataTables.min.js" %>
  <%= javascript_include_tag "dataTables.bootstrap.min.js" %>
  <%= javascript_include_tag "fileinput.min.js" %>
  <%= javascript_include_tag "modal_confirmation_function.js" %>
<% end %>

<% content_for :page_icon do %>
  <i class="fa fa-edit custom_icon" aria-hidden="true"></i>
<% end %>

<% content_for :body do %>
<div class="row">
    <div class="col-lg-12 pad0">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Edit Project</strong></div>
            <div class="panel-body">
                <% if @project.errors.any? %>
                    <div class="alert alert-danger custom_alert_notification">
                      <button id="error_alert_x" type="button" class="close"><span aria-hidden="true">&times;</span></button>
                      <strong>There was <%= pluralize(@project.errors.count, "error") %> prohibited this post from being saved:</strong>
                      <div id="errorExplanation">      
                          <% @project.errors.full_messages.each do |msg| %>
                          <p style="display: inline;">* <%= msg %></p><br />
                          <% end %>
                      </div>
                    </div> 
                <% end %>

                <%= form_for(@project, :url => project_path(@project, :locale => I18n.locale), :html => {:class => '', :multipart => true}) do |form_fields| %>
                  <%= render partial: 'projects/projects_form', locals: {f: form_fields, action: 'edit'} %>
                <% end %>
            </div>
        </div>
    </div>
</div>
<% end %>