<% content_for :include_styles do %>
  <%= stylesheet_link_tag "dataTables.bootstrap.css" %>
  <%= stylesheet_link_tag "dataTables.responsive.min.css" %>
<% end %>

<% content_for :include_scripts do %>
  <%= javascript_include_tag "jquery.dataTables.min.js" %>
  <%= javascript_include_tag "dataTables.bootstrap.min.js" %>
  <%= javascript_include_tag "dataTables.responsive.min.js" %>
  <%= javascript_include_tag "modal_confirmation_function.js" %>
  <%= javascript_include_tag "projects/index.js" %>
<% end %>

<% content_for :page_icon do %>
  <i class="fa fa-list-alt custom_icon" aria-hidden="true"></i>
<% end %>

<% content_for :body do %>

<!-- Modal Confirmation -->
<div class="modal fade" id="modal_email_chooser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-center" style="margin-top: 140px;">      
      <div class="now_sending_mail"><div class="please_wait">Now sending, please wait...</div></div>
      <div class="fade in margin_btm30" role="alert">
        <h2 class="are_you_sure">Please select email receiver!</h2>        
        <div class="text-center"><b>Choose to which person/s the email job order will be send.</b></div>
        <div style="width: 100%; margin-top: 30px; margin-bottom: 30px;" class="text-center">
          <div class="text-left" style="padding-left: 50px; margin: 0 auto 0 auto; width: 300px;">
            <div><input type="checkbox" id="client_id" name="receiver_id[]"><label class="pointer" id="client_name" for="client_id"></label></div>
            <div><input type="checkbox" id="partner_id" name="receiver_id[]"><label class="pointer" id="partner_name" for="partner_id"></label></div>            
          </div>
          <br>
          <p class="last_sent_mail"></p>
          <p class="message_here are_you_sure"></p>
        </div>
        <button id="send_mail_now" data-id="" type="button" class="btn btn-lg btn-danger modal_btn_size"><%=t :send_mail_now %></button>
        &nbsp;&nbsp;&nbsp;
        <button type="button" class="no_cancel_close_modal btn btn-lg btn-warning modal_btn_size"><%=t :no_cancel %></button>        
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-12 pad0">
    <div class="tab-content" id="tab_holder">
      <ul class="nav nav-tabs custom_nav_tab">
        <li class="active"><a href="#in_progress" data-toggle="tab" class="tab190">進行中/In-Progress <i class="fa fa-refresh fa-fw user_tab_icon"></i></a></li>
        <li><a href="#done" data-toggle="tab" class="tab190">完了/Done <i class="fa fa-check fa-fw user_tab_icon"></i></a></li>
        <% if session[:role] != 'client' %>
          <li><a href="#waiting" data-toggle="tab" class="tab190">保留/Waiting <i class="fa fa-clock-o fa-fw user_tab_icon"></i></a></li>
          <li><a href="#failed" data-toggle="tab" class="tab190">ボツ/Failed <i class="fa fa-exclamation-triangle fa-fw user_tab_icon"></i></a></li>
        <% end %>
      </ul>
      
      <div class="tab-pane active" id="in_progress"><%= render partial: 'projects/listing', locals: {projects: @projects, status: 'In-progress', id: 'in_progress'}  %></div>
      <div class="tab-pane" id="done"><%= render partial: 'projects/listing', locals: {projects: @projects, status: 'Done', id: 'done'}  %></div>      
      <% if session[:role] != 'client' %>
        <div class="tab-pane" id="waiting"><%= render partial: 'projects/listing', locals: {projects: @projects, status: 'Waiting', id: 'waiting'}  %></div>
        <div class="tab-pane" id="failed"><%= render partial: 'projects/listing', locals: {projects: @projects, status: 'Failed', id: 'failed'}  %></div>
      <% end %>
    </div>
  </div>
</div>
<% end %>