<% content_for :include_styles do %>
  <%= stylesheet_link_tag "dataTables.bootstrap.css" %>
  <%= stylesheet_link_tag "dataTables.responsive.min.css" %>  
<% end %>

<% content_for :include_scripts do %>
  <%= javascript_include_tag "jquery.dataTables.min.js" %>
  <%= javascript_include_tag "dataTables.bootstrap.min.js" %>
  <%= javascript_include_tag "dataTables.responsive.min.js" %>
  <%= javascript_include_tag "modal_confirmation_function.js" %>
  <%= javascript_include_tag "search.js" %>
  <%= javascript_include_tag "applicants/make_comments.js" %>
<% end %>

<% content_for :page_icon do %>
  <i class="fa fa-users custom_icon" aria-hidden="true"></i>
<% end %>

<% content_for :body do %>
<input type="hidden" id="project_company_name" value="<%=@project.company_name%>">

<% if session[:role] != 'client' %>
<div class="row">
  <div class="col-lg-12 pad0">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Project Information</strong>            
            <% if can? :edit, Project %>
              <div class="float-left">
                <a href='<%= edit_project_path(@project, locale: I18n.locale) %>' class='white'><i class='fa fa-edit font20' aria-hidden='true'></i></a>&nbsp;&nbsp;
              </div>            
            <% end %>
            <div class="float-right">
              <button type="button" class="btn_collapse" data-toggle="collapse" data-target="#collapse-holder"><i class="glyphicon glyphicon-chevron-up"></i></button>
            </div>
        </div>        
        <div id="collapse-holder" class="panel-body collapse" style="border-color: #d4d4d4;">
            <div class="row">
              <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="list-unstyled">
                        <li class="row">
                            <div class="col-md-4"><div class="project_applicants_header">Title</div></div>
                            <div class="col-md-8"><%= @project.title %></div>
                        </li>
                        <li class="row">
                            <div class="col-md-4"><div class="project_applicants_header">Company</div></div>
                            <div class="col-md-8"><%= @project.company_name %></div>
                        </li>
                        <li class="row">
                            <div class="col-md-4"><div class="project_applicants_header">Partner</div></div>
                            <div class="col-md-8"><%= @project.partner.try(:fullname) %></div>
                        </li>
                        <li class="row">
                            <div class="col-md-4"><div class="project_applicants_header">Client</div></div>
                            <div class="col-md-8"><%= @project.client.try(:fullname) %></div>
                        </li>
                        <li class="row">
                            <div class="col-md-4"><div class="project_applicants_header">Country</div></div>
                            <div class="col-md-8"><%= @project.country.try(:combine_jp_and_en_name) %></div>
                        </li>
                        <li class="row">
                            <div class="col-md-4"><div class="project_applicants_header">Job Type</div></div>
                            <div class="col-md-8"><%= @project.job_type.try(:combine_jp_and_en_name) %></div>
                        </li>
                        <li class="row">
                            <div class="col-md-4"><div class="project_applicants_header">Assigned Applicants</div></div>
                            <div class="col-md-8">
                              <% @count_associated = @project.count_associated_applicants(session[:role]) %>
                              Registered: <b><%= @count_associated %><b>/</b><%= @project.no_of_needed_applicants %></b>
                              <br>
                              Percentage: <b><%= percent_of(@project.no_of_needed_applicants, @count_associated).to_i %>%</b>
                            </div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-4"><div class="project_applicants_header">File</div></div>
                        <div class="col-md-8">
                          <% unless @project.document_file_name.nil? %>
                            <%= image_tag(icon_for(File.extname(@project.document.url)), style: 'height: 20px') %>&nbsp;
                            <%= link_to @project.document_file_name, @project.document.url, target: "_blank" %>
                          <% else %>
                          -No File-
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                        <div class="project_applicants_header">Notes</div>
                        <div><%= raw(@project.notes) %></div>
                    </div>
                  </div>
              </div>            

              <!-- Rigth-Side Descriptions -->
              <div class="col-md-6">
                <div class="project_applicants_header">Description</div>
                <div><%= raw(@project.description) %></div>
              </div>

            </div>
        </div>        
    </div>
  </div>
</div>
<% end %>

<br/>
<br/>

<% if session[:role] == 'client' %><div class="client_home"><a href="/en/projects"><i class="fa fa-home"></i> プロジェクトリストへ戻る / Return To Project List</a></div><% end %>
<%= render partial: 'partial_pages/icons_legend' %>

<!-- Listing of Results -->
<div class="row">
  <div class="col-lg-12 pad0" style="margin-bottom: 100px;">
    <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-6"><strong><%= session[:role] == 'client' ? '候補者リスト / List of Applicants' : "Resumes Assigned to #{@project.title}" %></strong></div>
            <div class="col-md-6 text-right">
              <div class="pdf_excel_wrapper">
                <a id="generate_pdf" class="pdf_icon_holder" href="#" target="_blank" title="Generate PDF Report">
                  <%= image_tag("/assets/icons/pdf_icon_big.png") %>
                </a>
                &nbsp;
                <% if session[:role] != 'client' %>                
                <a id="generate_excel" class="csv_icon_holder" href="#" target="_blank" title="Generate Excel Report">
                  <%= image_tag("/assets/icons/excel.png") %>
                </a>
                &nbsp;
                <% end %>
              </div>
            </div>
          </div>
        </div>        
        <div class="panel-body">
            <%= render partial: 'search/listing', locals: {applicants: @applicants}  %>
            
            <!-- Modal for Selecting What Report Type & Aptitude test will be shown -->
            <%= render partial: 'search/modal_report_chooser' %>

            <!-- Quick Showing of Comments via Modal -->
            <% if session[:role] == 'client' %>
              <%= render :partial => "partial_pages/show_comments" %>
            <% end %>
        </div>        
    </div>
  </div>
</div>
<% end %>