<% content_for :login do %>
<div class="container" style="width: 85%;">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-4 col-md-offset-4 margintop10pers" id="login_form_holder">            
        <div class="panel-body">
          <div class="text-center" style="margin-bottom: 20px;">
            <%= image_tag('pww_logo.png', style: 'height: 115px;') %>
            <p class="logo_content">Connecting to Blue Sky Opportunities</p>
          </div>
          <%= form_tag('/en/authenticate_login', id: 'login-form', method: :post, role: 'form') do -%>
              <div class="form-group">
                <%= text_field_tag :username, '', {class: 'form-control input-lg', placeholder: 'username', autocomplete: 'off', required: '', autofocus: 'true'} %>
              </div>
              <div class="form-group">
                <%= password_field_tag :password, '', {class: 'form-control input-lg', placeholder: 'password', required: ''} %>                              
              </div>
              <div class="form-group text-center">
                <%= submit_tag 'continue', class: 'btn login-btn btn-block' %>
              </div>
          <% end %>
          
          <%= render(:partial => "home/alert_notification", locals: {css: 'position: relative;'}) %>
        </div>          
      </div>
    </div>
  </div>
</div>
<% end %>

<% content_for :footer do %>  
  <div class="row margin0">
    <div class="footer">
        <div class="col-lg-12 pww_bg"></div>
    </div>
  </div>
<% end %>