<% content_for :include_styles do %>
  <%= stylesheet_link_tag "dataTables.bootstrap.css" %>
  <%= stylesheet_link_tag "dataTables.responsive.min.css" %>
  <%= stylesheet_link_tag "bootstrap-editable.css" %>
  <style>
    table.dataTable tr>td:last-child{
      text-align: center;
    }
  </style>
<% end %>

<% content_for :include_scripts do %>
  <%= javascript_include_tag "jquery.dataTables.min.js" %>
  <%= javascript_include_tag "dataTables.bootstrap.min.js" %>
  <%= javascript_include_tag "dataTables.responsive.min.js" %>
  <%= javascript_include_tag "ajax_request_dataTable/index.js" %>
  <%= javascript_include_tag "modal_confirmation_function.js" %>
  <%= javascript_include_tag "bootstrap-editable.min.js" %>
<% end %>

<% content_for :body do %>
<div class="row">
  <!-- Listing -->
  <div class="col-lg-8 pad-left0">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><%= listing_header %></strong>
        </div>
        <div class="ajax_loading"></div>
        <div class="panel-body">
          <div class="table-responsive">
            <div class="dataTable_wrapper">              
              <table class="table table-striped table-bordered table-hover" id="dataTables-<%= action %>">
                  <thead>
                      <tr>
                        <th>English Name</th>
                        <th>Japanese Name</th>
                        <% if action == 'countries' %><th>Country Code</th><% end %>
                        <th>Updated By</th>
                        <th>Updated At</th>
                        <th class="text-center">Action</th>
                      </tr>
                  </thead>
              </table>
            </div>
          </div>
        </div>
    </div>
  </div>

  <!-- Adding -->
  <div class="col-lg-4 pad0">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><%= form_header %></strong>
        </div>
        
        <input type="hidden" id="hidden-action" value="<%= action %>">

        <div class="panel-body">          
          <%= form_tag (''), id: action do %>
            <div class="form-group">
              <%= text_field_tag 'en_name', nil, class: 'form-control', placeholder: 'English Name *', autofocus: 'true', autocomplete: 'off', required: '' %>    
            </div>            
            <div class="form-group">
              <%= text_field_tag 'jp_name', nil, class: 'form-control', placeholder: 'Japanese Name *', autocomplete: 'off', required: '' %>    
            </div>
            <% if action == 'countries' %>
              <div class="form-group">
                <%= text_field_tag 'country_code', nil, class: 'form-control', placeholder: 'Country Code *', autocomplete: 'off', required: '' %>    
              </div>
            <% end %>
            <div class="text-right">    
              <%= button_tag 'ADD', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>        
    </div>    
  </div>

</div>
<% end %>