
<div class="legend_holder">
  <i class="fa fa-th" id="legend_hover"></i>
  <ul class="ul_custom_icon_legend">
      <% if session[:role] != 'client' %>
        <li>
          <div class="icon_legend_wrapper"><%= image_tag("/assets/icons/user.png", class: 'applicants_link') %></div>
          <div> 編集 / Edit Applicant's Record</div>
        </li>
      <% end %>
      
      <% if session[:role] == 'partner' %>
        <li>
          <div class="icon_legend_wrapper"><%= image_tag("/assets/icons/request_deletion.png", class: 'applicants_link') %></div>
          <div> 要求 / Request for Record Deletion</div>
        </li>
      <% end %>
      
      <li><div class="icon_legend_wrapper"><%= image_tag("/assets/icons/self_intro.png", class: 'applicants_link') %></div><div> 自己紹介動画 / Self introducing video</div></li>
      <li><div class="icon_legend_wrapper"><%= image_tag("/assets/icons/video.png", class: 'applicants_link') %></div><div> 職業適性診断実施動画/Skill check video</div></li>
      <li><div class="icon_legend_wrapper"><%= image_tag("/assets/icons/psychometric.png", class: 'applicants_link') %></div><div> 適性診断結果 / Psychometric test result</div></li>
      <li><div class="icon_legend_wrapper"><%= image_tag("/assets/icons/pdf.png", class: 'applicants_link') %></div><div> ダウンロード / Download PDF Report</div></li>

      <% if session[:role] == 'client' %>
        <li><div class="icon_legend_wrapper"><%= image_tag("/assets/icons/comments.png", class: 'applicants_link') %></div><div> 注釈 / Comments</div></li>
      <% end %>
      
      <% if session[:role] == 'admin' %>
        <li><div class="icon_legend_wrapper"><%= image_tag("/assets/icons/history.png", class: 'history_link') %></div> <div> 履歴 / Applicant's Project History</div></li>
        <li><div class="icon_legend_wrapper"><%= image_tag("/assets/icons/delete.png") %></div><div> 削除 / Delete Record<div></li>
      <% end %>
  </ul>
</div>