<div class="modal fade" id="modal_make_comments" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-center" style="margin-top: 140px;">            
      <div class="fade in text-left" role="alert" style="margin: 30px 20px 0px 20px; min-height: 200px;">
        
        <%= image_tag("close.png", class: 'modal_close_btn') %>
        <h2 id="render_applicant_name" class="maroon_text text-capitalize"></h2>      
        
        <div class="text-left">          
          <input type="password" id="client_password" class="form-control" placeholder="パスワード入力 / Enter your password:" />
          <br>
          <textarea class="form-control" id="client_comments" rows="3" placeholder="コメント入力 / Enter your comment:"></textarea>          
          <div class="checkbox">
            <label><input class="boolean optional" type="checkbox" id="show_client_comments_in_pdf"> show in PDF?</label>
          </div>
        </div>
      </div>

      <div class="invalid_result"></div>
      <div class="text-right" style="margin: 15px;"><button id="save_comments" type="button" class="btn btn-lg btn-danger"><%=t :save %></button></div>
    </div>
  </div>
</div>