<% content_for :page_icon do %>
  <i class="fa fa-globe custom_icon" aria-hidden="true"></i>
<% end %>

<%= render(partial:'partial_pages/common_page', locals: {listing_header: 'Countries List', form_header: 'Add Country', action: 'countries'}) %>