button:focus {
    outline: none !important;
}

li.hi_user {
    padding-left: 10px;
    color: #005696;
}

li.hi_user span {
    text-transform: capitalize;
    font-weight: bold;
    padding-right: 10px;
    color: #8a0000;
}
.space_normal{white-space: normal;}
.nav_gold {
    color: #ffc000;
}

.deletion_gold {
    color: #bb6200;
}

.height_width50 {
    height: 50px;
    width: 50px;
}

.height50 {
    height: 50px !important;
}

.height60 {
    height: 60px !important;
}

.username_li,
.username:hover {
    background-color: #8a0000 !important;
}

.username {
    text-transform: capitalize;
    color: #fff !important;
}

.todayDate {
    font-size: 14px;
    color: #fff;
    margin-left: 5px;
    margin-right: 10px;
    color: #005696;
}

input[type="checkbox"] {
    background: url('/assets/checkmark.png');
    background-size: 18px;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    margin: 0;
    cursor: pointer;
}

.category_border_right3 {
    border-right: 3px solid #fff;
}

.category_border_right2 {
    border-right: 2px solid #fff;
}

.category_border_left {
    border-left: 1px solid #fff;
}

.pointer {
    cursor: pointer;
}

.white {
    color: #fff;
    padding: 0;
}

.mail {
    color: #1c0050;
}

p.white>a {
    color: #fff !important;
    padding: 6px 12px;
    display: inline-block;
}

.white {
    color: #fff !important;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.set-loader {
    background-image: url('/assets/loader.gif');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: not-allowed;
}

#success_alert {
    color: #ffffff;
    background-color: rgb(0, 86, 150);
    border-color: #ffffff;
    position: absolute;
    z-index: 11;
    width: 100%;
}

#error_alert {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    position: absolute;
    z-index: 11;
    width: 100%;
}

.page-header-custom {
    padding-bottom: 9px;
    margin: 40px 0 5px;
    text-transform: capitalize;
}

.navbar-top-links li a{
    color: #005696;
}

.nav_logo {
    padding-top: 5px;
    padding-left: 3px;
    height: 50px;
}

.bottom_pww {
    font-size: 13px;
    color: #9A9A9A;
    text-align: center;
    /*position: fixed;*/
    margin-top: 10px;
    padding: 1rem;
    width: 100%;
    background-color: #efefef;
    bottom: 1%;
}

.bottom_pww p {
    line-height: 10px;
}

.main_logo {
    height: 105px;
}


/*Menu Active*/

.active_menu {
    background-color: #a90000 !important;
    color: #fff !important;
}

.active_menu>a {
    color: #fff;
}

.child_menu_active {
    background-color: #757575 !important;
    color: #fff !important;
}

.width100 {
    width: 100%
}

.resume_type {
    width: 33.5%;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.resume_type.active {
    background-color: #c9302c !important;
    border-color: #ac2925 !important;
    color: #fff;
}

.remove_document {
    color: #ac2925;
    font-size: 25px;
}

.valid_files {
    display: none;
}


/*User Actived or Deactivated Status*/

.activated {
    color: green;
    font-weight: bold;
    text-transform: uppercase;
}

.deactivated {
    color: red;
    font-weight: bold;
    text-transform: uppercase;
}


/*Modal Notification for Edit Status*/

.modal-content {
    border-radius: 0px;
}

.edit_status_modal_header {
    background-color: #c9302c;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.border_radius0 {
    border-radius: 0;
}

p.modal_edit_status_name {
    font-size: 20px;
    font-weight: bold;
    color: #c9302c;
}

.this_admin_remarks {
    background-color: #f8f8f8;
    color: #337ab7;
    font-size: 12px;
    padding: 5px;
    margin-top: 10px;
}

.title_color {
    color: #b10000 !important;
}

.white_color {
    color: #fff !important;
}

.pww_logo {
    background-image: url('/assets/pww_logo.png');
    background-repeat: no-repeat;
    background-size: 50px;
    padding-left: 60px;
    font-weight: bold;
}

.nav_bg {
    background-color: #f9f9f9;
}

.active_submenu {
    color: #a90000 !important;
}

.active_page {
    position: relative;
}

.active_page:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #a90000;
    border-width: 20px;
    margin-top: -20px;
}

.list_icon {
    color: #8a0000;
    font-size: 30px !important;
    padding-left: 10px;
}

.custom_icon {
    color: #8a0000;
}

.add_new_record {
    font-size: 18px;
    color: #8a0000;
}

.bold {
    font-weight: bold;
}

.margin_btm30 {
    margin-bottom: 30px;
}

.margin_bottom_0 {
    margin-bottom: 0px !important;
}

.pad0 {
    padding: 0 !important;
}

.pad-left0 {
    padding-left: 0 !important;
}

.pad-right0 {
    padding-right: 0 !important;
}

.td_bg {
    background-color: #e4e4e4;
}

.margin_bottom_100 {
    margin-bottom: 100px;
}

select.capitalize option {
    text-transform: capitalize
}

select.less_width {
    width: 92%;
}

.disabled_color {
    color: #DFDFDF;
}

.font15 {
    font-size: 15px;
}

.font20 {
    font-size: 20px;
}

.remove_added {
    color: #a90000;
    cursor: pointer;
    display: inline-block;
}

.view_info {
    color: #f1a900;
    cursor: pointer;
    display: inline-block;
}

.remove_icon_td {
    width: 5%;
}

.long-btn {
    width: 200px;
}


/*Bootstrap DateTimePicker Fixed*/

.table-responsive {
    overflow-x: inherit;
}

.panel-default>.panel-heading {
    color: #fff;
    background-color: #a90000;
    border-color: #a90000;
}

.with_parent_tab {
    /*background-color: #828282 !important;
  border-color: #828282 !important;*/
    background-color: #a90000 !important;
    border-color: #a90000 !important;
    border-radius: 0px !important;
}

.bigicon {
    font-size: 35px;
    color: #337ab7;
}

.input_jp {
    background-image: url('/assets/icons/global_icon.png');
    background-color: #FFF;
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: 3px;
    font-size: 12px;
    font-weight: bold;
    color: #fff !important;
}

textarea#user_description,
textarea#applicant_self_introduction_video_link,
textarea#applicant_aptitude_test_link,
textarea#applicant_psychometric_test_link {
    resize: none;
}

.go_to_save {
    width: 70px;
    height: 40px;
    line-height: 15px;
    padding: 4px 2px 0px;
    position: absolute;
    top: -3.8%;
    right: -13px;
    background-color: #ac2925;
    z-index: 9;
    text-align: right;
    border-bottom-left-radius: 25px;
    background-image: url('/assets/scroll_down.png');
    background-repeat: no-repeat;
    background-position: 20% 70%;
    background-size: 12px;
}

a#scroll_to_save,
a#scroll_to_save:focus,
a#scroll_to_save:active {
    text-transform: uppercase;
    color: #fff !important;
    font-weight: bold;
    line-height: 0px;
    font-size: 13px;
    text-decoration: none;
    word-break: break-word;
}

.applicants_link {
    height: 20px;
    display: inline-block;
    border-radius: 5px;
    margin: 0 2px 2px 0;
}

.history_link {
    height: 23px;
    display: inline-block;
    border-radius: 5px;
}

.avatar_size {
    height: 73px;
}

.profile_small {
    height: 30px;
    border-radius: 15px;
    position: absolute;
    margin: -5px 0 0 -10px;
}

.profile_in_login {
    height: 30px;
    border-radius: 15px;
}

.ajax_loading {
    background-image: url('/assets/loader.gif');
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: 50% 100%;
    height: 400px;
    width: 97%;
    z-index: 1;
    display: none;
    position: absolute;
}

.gold_arrow {
    color: #F3B117;
}

.top_less10 {
    margin-top: -10px;
}


/*Advance Search*/

.common_bg {
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50px;
    width: 52px;
    border: none;
    background-color: transparent;
}

.csv_btn {
    background-image: url('/assets/icons/csv.png');
}

.pdf_btn {
    background-image: url('/assets/icons/pdf_icon_big.png');
}

div.search_right_options {
    float: right;
}

.reset_filters,
.reset_filters:hover,
.reset_filters:focus {
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    margin-right: 10px;
}

.btn_collapse {
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    background: none;
    margin-top: -5px;
    margin-left: 10px;
}

div.pdf_excel_wrapper {
    position: absolute;
    margin-top: -18px;
    right: 0;
    z-index: 9;
}

div.pdf_excel_wrapper a {
    display: inline-block;
    position: relative;
}

a.pdf_icon_holder img,
a.csv_icon_holder img {
    height: 50px;
    border-radius: 2px;
}

.search_icon {
    background-image: url('/assets/icons/search_icon.png');
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 8%;
    background-color: #bd2008;
    border-color: #be2008;
    width: 100%;
    padding: 10px;
    font-size: 23px;
}

.margin_bottom5 {
    margin-bottom: 5px;
}

.search_labels {
    font-size: 12px;
    display: inline;
    margin: 0;
}

.no_result_found {
    background-image: url('/assets/no_results_found.jpg');
    background-repeat: no-repeat;
    height: 160px;
    background-color: #fff;
    background-position: 50% 50%;
}

.with_params {
    background-color: rgb(255, 153, 0);
    color: #fff;
    border: 1px solid #f90;
}

.margin0 {
    margin: 0;
}

.bs-callout-danger {
    border-bottom-color: #ce4844 !important;
}

.bs-callout {
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #eee;
    border-bottom-width: 5px;
    border-radius: 3px;
}

.border_bottom_custom {
    border-bottom: 1px solid #eee;
}

.age_middle,
.score_middle {
    height: 34px;
    padding-top: 7px;
    background-color: #c9302c;
    border-color: #ac2925;
    color: #fff;
}

.no_radius_right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.no_radius_left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.full_report_pdf_icon {
    height: 75px;
}

.process_arrow_right {
    background: url('/assets/arrow-right.png') no-repeat;
    background-size: 20px;
    background-position: 100% 18%;
}

.short_notes {
    color: #8a0000;
    font-weight: normal;
}

div.checkbox>label {
    color: #8a0000;
    font-weight: bold;
}

ul.custom_nav_tab>li>a {
    text-align: left;
    font-weight: bold;
    width: 175px;
    height: 50px;
    padding-top: 6px;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 0px;
    background-color: #868686;
    color: #fff;
}

ul.tab_applicant_listing>li>a {
    width: auto;
    height: 55px;
}

.listing_icon_size {
    font-size: 25px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background-color: #a90000;
    border: 1px solid #a90000;
    color: #fff;
}

.tab-pane div.col-lg-12 {
    padding: 20px 0px;
}

ul.applicants_files {
    padding-left: 5px;
}

ul.applicants_files li {
    list-style: none;
    margin-bottom: 5px;
}

ul.applicants_files li>img {
    padding-right: 5px;
}

i.dl_file {
    color: #1262ff;
    font-size: 20px;
    padding-left: 5px;
}

i.remove_file {
    color: #C70000;
    font-size: 25px;
    padding-left: 10px;
    margin-top: -3px;
}

i.upload_file {
    color: #ff6200;
    font-size: 20px;
    padding-left: 5px;
    cursor: pointer;
}

table.custom_thead>thead>tr>th {
    background-color: #a90000;
    color: #fff;
    border-right: 1px solid #e0e0e0;
}

table.custom_thead tbody tr td {
    border-right: 1px solid #eee;
}


/*Project View Applicants*/

.custom_panel_body {
    background-color: #d4d4d4;
}

table.custom_project_thead>thead>tr>th {
    background-color: #337ab7;
    color: #fff;
    border-right: 1px solid #ffffff;
}


/*Applicant's Project History*/

.histories table>thead>tr>th {
    color: #fff;
    background-color: #397ab7;
}

.history_updater p {
    margin-bottom: 2px;
}

.history_icons {
    font-size: 20px;
    color: #f17e00;
}

.arrow_history {
    background-image: url('/assets/history_arrow.png');
    background-repeat: no-repeat;
    background-size: 55px;
    height: 35px;
    width: 100%;
    background-position: 50% 0px;
    position: absolute;
    margin-top: -4px;
}

.history_applicant_info {
    color: #a90000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.history_other_info {
    color: #3995d9;
    font-weight: bold;
    padding-top: 2px;
}

.no_history {
    text-align: center;
    font-size: 4em;
    color: #b7b7b7;
    letter-spacing: -2px;
}

.view_project {
    cursor: pointer;
    font-weight: bold;
}

.modal_btn_size {
    min-width: 165px;
}

.btn_modal_report {
    min-width: 190px;
    font-size: 17px;
    padding-right: 4px;
    padding-left: 4px;
}

#client_name,
#partner_name {
    margin-top: -1px;
    position: absolute;
    margin-left: 20px;
}

#client_comments {
    resize: vertical;
}

.are_you_sure {
    color: #a90000;
}

.now_sending_mail {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    background-image: url('/assets/sending_mail.gif');
    background-repeat: no-repeat;
    background-position: 50% 100%;
}

.please_wait {
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    bottom: 65px;
    right: 0;
    left: 0;
}

.hidden {
    display: none;
}

.show {
    display: block;
}


/*For Non-Admin Users*/

.corner_nav_left {
    height: 45px;
    width: 19px;
    position: absolute;
    left: -3px;
    margin-top: 30px;
    background-color: #8a0000;
}

.corner_nav_right {
    height: 45px;
    width: 19px;
    position: absolute;
    right: -3px;
    margin-top: -45px;
    background-color: #8a0000;
}

.non_admin_nav li:hover,
.non_admin_nav li.active {
    background-color: #004477;
}

.non_admin_nav>div {
    margin-top: 30px;
    height: 45px;
    background-color: #8a0000;
}

ul.non_admin_ul {
    padding-left: 0px;
    display: inline-flex;
}

ul.non_admin_ul li {
    list-style: none;
    display: inline-block;
    height: 45px;
}

ul.non_admin_ul li>a {
    font-size: 15px;
    color: #fff;
    line-height: 45px;
    margin-right: 20px;
    text-decoration: none;
    padding: 12px 4px 12px;
}

ul.non_admin_ul li>a:hover {}

ul.non_admin_ul li>a>i {
    font-size: 20px;
    color: #fb8f00;
}

.last_sent_mail {
    display: none;
    font-style: italic;
    color: #fff;
    background-color: #565656;
    padding: 5px;
}

a[href="#other_info"] {
    background-image: url('/assets/icons/save-icon.png');
    background-position: 97% 20%;
    background-size: 20px;
    background-repeat: no-repeat;
}

div.invalid_pass,
div.invalid_result {
    display: none;
    margin-bottom: 10px;
    color: #fff;
    background-color: #980000;
    padding: 2px;
    font-weight: bold;
}


/*Modal Style*/

.modal_descrip {
    margin-bottom: 20px;
}

#yes_continue,
.no_cancel_close_modal {
    min-width: 150px;
}

#modal_password,
.request_reason {
    width: 54%;
    margin: 5px auto 5px auto;
}

.request_reason {
    resize: none;
    margin-bottom: 20px;
    display: none;
}

.request_of_deletion_count {
    font-weight: bold;
    color: #8a0000;
}

.request_delete_date {
    font-size: 13px;
    color: #ad6f00;
}

.dropdown-menu>li>div.requests {
    display: block;
    padding: 5px 10px 0 10px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    border-bottom: 1px solid #eee;
}

.request_content {
    padding: 10px;
}

.request_img {
    height: 50px;
    margin-right: 5px;
}

.maroon_text {
    color: #a90000;
}


/*Users Page*/

.user_tab_icon {
    font-size: 20px;
    color: #ffb500;
    text-align: center;
}

.tab190 {
    width: 190px !important;
    padding: 10px 0 0 10px !important;
    text-align: center !important;
}


/*Generate Random Password*/

img#open_pass_gen_modal {
    position: absolute;
    margin-left: 5%;
    margin-top: -22px;
    cursor: pointer;
    z-index: 1;
}

div#gen_pass_wrapper {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #f1f1f1;
}

div#gen_pass_wrapper {
    width: 100%;
}

#generated_random_password {
    width: 50%;
    font-size: 25px;
    letter-spacing: 2px;
    color: #e69800;
    font-weight: bold;
    background-color: #f1f1f1;
    border: none;
    text-align: center;
}

#generated_random_password:focus {
    outline: none;
}

#copy_generated_password {
    width: 150px;
    display: none;
}

.are_you_sure_description {
    color: #8a0000;
    font-size: 16px;
}

.margBtm30 {
    margin-bottom: 30px;
}


/*Custom Icon Legends*/

div.legend_holder {
    right: 0;
    position: absolute;
    z-index: 10;
    margin: -40px 13px 0;
    background-color: #870000;
}

div.legend_holder>i {
    font-size: 22px;
    color: maroon;
    float: right;
    cursor: pointer;
    background-color: #fff;
    width: 30px;
    text-align: center;
}

ul.ul_custom_icon_legend {
    display: none;
    margin: 10px 0 10px -30px;
}

ul.ul_custom_icon_legend li {
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    list-style: none;
    margin-bottom: 5px;
}

div.icon_legend_wrapper {
    width: 30px;
    height: 30px;
    background-color: #fff;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    padding-left: 1px;
    margin-right: 5px;
    border-radius: 50%;
}

ul.ul_custom_icon_legend li>div {
    display: inline-block;
}

.page-header-custom-admin {
    margin: 40px 0 0 0;
}

.page-header-custom-client {
    margin: 20px 0 0 0;
}

.page-header-custom-partner {
    margin: 10px 0 0 0;
}

.client_home {
    float: left;
    margin: -40px 0 0 -15px;
}

.client_home>a {
    color: #ce2b0b;
    font-size: 15px;
}

.client_home>a>i {
    color: #ce2b0b;
    font-size: 25px;
}

.modal_close_btn {
    position: absolute;
    right: 0;
    top: 0px;
    cursor: pointer;
}

.project_applicants_header{
    background-color: #337ab7;
    margin: 0 0 15px 0;
    padding: 4px;
    color: #fff;    
}

.development nav.nav_bg,
.test nav.nav_bg{
    background-color: #7a0000;
}

.development nav li.hi_user, .development nav .todayDate, .development nav .navbar-top-links > li > a,
.test nav li.hi_user, .test nav .todayDate, .test nav .navbar-top-links > li > a{
    color: #fff;
}

.development li.hi_user span, .development .request_of_deletion_count,
.test li.hi_user span, .test .request_of_deletion_count{
    color: #ffc000;
}