.margin0 {
    margin: 0px;
}

.margintop10pers {
    margin-top: 10%;
}

.footer {
    height: 30%;
    z-index: -1;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #c9302c;
    border-color: #ac2925;
    background-image: url('/assets/login_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 35%;
    margin: 0;
}

.pww_bg {
    background-image: url('/assets/pww_japan_small.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50%;
    height: 100%;
    width: 100%;
}

.footer_content {
    height: 200px;
    margin: 0px;
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 2em;
}

.logo_content {
    color: #000550;
    font-size: 16px;
    padding: 5px;
}

.login-btn {
    background: none;
    color: #ac2925;
    border: none;
    font-size: 30px;
    width: 45% !important;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.login-btn:hover {
    color: #fff;
    background-color: #ac2925;
}

.page_not_found {
    font-size: 6em;
    color: #ac2925;
}

.alert {
    text-align: center;
}

.alert-success {
    color: #ffffff;
    background-color: rgba(0, 76, 193, 0.68);
    border-color: #ffffff;
}

.alert-error {
    color: #ffffff;
    background-color: rgb(241, 115, 119);
    border-color: #ffffff;
}
