/*Applicant Report PDF*/

.nobreak:before {
    clear: both;
}

.nobreak {
    page-break-inside: avoid;
}

table {
    margin-bottom: 10px;
}


/*div.data_wrapper{min-height: 1000px}*/

table>tbody>tr>td {
    vertical-align: top;
    text-align: left;
}

p {
    margin: 0;
    padding: 0 0 5px 0;
}

.name {
    font-size: 18px;
    padding-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.japan_other {
    font-size: 13px;
    font-weight: normal;
    text-transform: capitalize;
    font-family: sans-serif;
    height: 10px;
    padding: 0 0 5px 0;
}

.liner {
    border: 1px solid #B3B3B3;
}

td.title {
    font-size: 10px;
    text-align: left;
    width: 180px;
    background-color: rgba(192, 228, 242, 0.3);
}

td.content {
    padding-left: 5px !important;
    width: 180px;
}

.table_contents>tbody>tr>td {
    padding: 5px;
    font-size: 10px;
    border-bottom: 1px solid #F9F9F9;
}

.table_header {
    font-size: 20px;
    font-weight: bold;
    background-color: #00ADE1;
    color: #fff;
    vertical-align: middle;
    text-transform: uppercase;
}

.address_text_holder {
    margin-top: -10px;
    margin-bottom: 15px;
}

.address_text_holder > div,
.address_text_holder p {
    font-size: 9px;
    color: #343434;
}

.address_text {
    font-size: 9px;
    color: #343434;
}

.header_light {
    font-size: 11px;
    background-color: rgba(187, 224, 255, 1);
    vertical-align: middle;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.custom_icon {
    height: 10px;
    margin-right: 5px;
}

p.header_link {
    padding: 0;
    margin: 0;
}

p.header_link>img {
    height: 10px;
    margin-bottom: -1px;
}

p.header_link>a {
    color: #00A1CE !important;
    font-size: 10px;
    text-decoration: none;
}

p.address {
    word-wrap: break-word;
    line-height: 10px;
    text-transform: capitalize;
}

.capitalize {
    text-transform: capitalize;
}

.border_bottom_none {
    border-bottom: none;
}

.work_expi_length {
    font-style: italic;
    font-size: 9px;
    padding: 0;
    margin: 0;
}

.v_middle {
    vertical-align: middle;
    text-align: left;
}
