/*Full Report PDF*/

table>tbody>tr>td {
    vertical-align: middle;
    text-align: center;
    font-size: 10px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: none;
    padding: 0px 1px 0px 1px;
}

table.full_report_table,
table.listing_table {
    width: 100%;
    margin: 0;
    padding: 0;
}

td.table_content_body {
    background-color: rgba(238, 238, 238, 0.5);
    word-break: break-word;
}


/*.alwaysbreak { page-break-before: always; }
.nobreak:before { clear:both;}
.nobreak { page-break-inside: avoid; }*/

.pdf_header {
    width: 100%;
    margin-bottom: 10px;
}

.address_text_holder {
    margin-top: -3px;
    margin-bottom: 3px;
}

.address_text_holder > div,
.address_text_holder p {
    font-size: 10px;
    color: #343434;
}

.address_text {
    font-size: 10px;
    color: #343434;
}

.date_time {
    font-size: 11px;
    padding: 5px 0 0 8px;
    margin: 0px;
    color: #343434;
}

.record_count {
    font-size: 11px;
    padding: 0px 0 10px 8px;
    margin: 0px;
    color: #343434;
}

.company_name {
    color: #de0000;
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    padding: 12px 0 0 8px;
    text-transform: uppercase;
}

.full_report_header_td1 {
    width: 50%;
    text-align: left;
    vertical-align: top;
}

.full_report_header_td2 {
    width: 50%;
    text-align: right;
    vertical-align: top;
}

.content_header {
    /*padding: 17px 1px 17px 1px;*/
    padding-left: 1px;
    padding-right: 1px;
    font-size: 12px;
    vertical-align: middle;
    background-color: rgba(0, 176, 230, 0.9);
    color: #fff;
    text-align: center;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: none;
}

.no_border_left {
    border-left: none;
}

.no_border_right {
    border-right: none;
}

#div-content-holder {
    width: 100%;
    white-space: nowrap;
}

#div-content-holder>div {
    white-space: nowrap;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0px auto 0 auto;
    outline: none;
    vertical-align: top;
    height: 50px;
    font-size: 10px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: rgba(238, 238, 238, 0.5);
}

#div-content-holder>div:last-child {
    border-right: none;
}

#div-content-holder div>p {
    white-space: nowrap;
    display: table-cell;
    vertical-align: middle;
    font-size: 10px;
    color: #000;
    text-align: center;
    margin: 0;
    height: 45px;
    /*word-wrap: break-word;
  overflow-wrap: break-word;*/
}