<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="People Worldwide Japan">
    <meta name="author" content="People Worldwide Japan">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon.png">
    <%= stylesheet_link_tag "/assets/bootstrap.min.css", media: "all" %>
    <%= stylesheet_link_tag "/assets/font-awesome.min.css", media: "all" %>
    <%= stylesheet_link_tag "/assets/custom_styles.css" %>
    
    <title>People Worldwide Japan</title>    
    <%= stylesheet_link_tag "/assets/login_style", media: "all" %>
    <%= javascript_include_tag "/assets/jquery.min.js" %>
    <%= javascript_include_tag "/assets/general.js" %>
    <%= javascript_include_tag "/assets/adjust_on_window_size.js" %>
  </head>

  <body>      
      <div class="container">
        <div class="row" style="margin-top: 10%;">
            <div class="col-md-12 text-center">            
              <div class="panel-body">
                <div class="text-center" style="margin-bottom: 40px;">
                  <%= image_tag('/assets/pww_logo.png', style: 'height: 110px;') %>
                </div>
                <label class="page_not_found">404 Page not found!</label>
              </div>
            </div>            
        </div>    
      </div>

      <!-- Footer -->
      <div class="row footer">
        <div class="col-md-12 text-center pww_bg"></div>
      </div>
  </body>
</html>
