<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="People World Wide">
  <meta name="author" content="People World Wide">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon.png">

  <title>CMS | People World Wide</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :include_styles %>
</head>
<body>
  <input id="menu_title" type="hidden" value="<%= @menu %>" />
  <div id="wrapper">
      <!-- Navigation -->
     <%= render 'home/navigator' %>

      <div id="page-wrapper">
          <%= yield :page_header %>
          <%= yield :body %>
      </div>
  </div>  
  <%= yield :include_scripts %>
</body>
</html>
