<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="People World Wide Japan">
    <meta name="author" content="People World Wide Japan">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon.png">

    <title>CMS | People World Wide Japan</title>    
    <%= csrf_meta_tags %>
    
    <!-- Bootstrap Core CSS -->    
    <%= stylesheet_link_tag "bootstrap.min.css" %>
    <!-- MetisMenu CSS -->
    <%= stylesheet_link_tag "metisMenu.min.css" %>

    <!-- Timeline CSS -->    
    <%= stylesheet_link_tag "timeline.css" %>

    <!-- Custom Fonts -->
    <%= stylesheet_link_tag "font-awesome.min.css" %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <%= yield :include_styles %>
    <!-- Custom CSS -->
    <%= stylesheet_link_tag "sb-admin-2.css" %>
    <%= stylesheet_link_tag "custom_styles.css" %>
    <%= javascript_include_tag "moment-with-locales.js" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
    
</head>
<body class="<%= print_env_on_development %>">
    <div id="wrapper">       
        <!-- Admin Navigation -->
        <%= render 'home/navigator' %>

        <% if session[:role] == 'partner' %>
            <%= render 'home/partners_navigator' %>
        <% end %>
        
        <% if session[:role] != 'client' %>
            <%= render partial: "home/modal_confirmation" %>
        <% end %>

        <div id="page-wrapper" style="<%= session[:role] != 'admin' ? 'margin: 0 0 0 0 !important;' : '' %>">                        
            <!-- Page Header -->
            <div class="row">
                <div class="col-lg-8 pad0"><h1 class="page-header-custom page-header-custom-<%=session[:role]%>"><%= @page_title %> <%= yield :page_icon %></h1></div>
                <div class="col-lg-4 pad0"><%= render(:partial => "home/alert_notification", locals: {css: session[:role] == 'admin' ? 'margin: 30px 0 0 0;' : 'margin: 3px 0 0 0;'}) %></div>
                <div class="col-lg-12" style="border-top: 1px solid #eee; margin-bottom: 7px;"></div>
            </div>
            <!-- End of Page Header -->
            
            <%= yield :body %>

            <input id="menu_title" type="hidden" value="<%= @menu %>" />
            <input type="hidden" id="controller_name" value="<%= controller_name %>">
            <input type="hidden" id="controller_action" value="<%= action_name %>">
            <input type="hidden" id="non_admin_nav" value="<%= controller_name %>_<%= action_name %>">
        </div>
    </div>
    <!-- jQuery -->    
    <%= javascript_include_tag "jquery.min.js" %>

    <!-- Bootstrap Core JavaScript -->
    <%= javascript_include_tag "bootstrap.min.js" %>

    <!-- Metis Menu Plugin JavaScript -->    
    <%= javascript_include_tag "metisMenu.min.js" %>    
    
    <%= yield :include_scripts %>

    <!-- Custom Theme JavaScript -->
    <%= javascript_include_tag "sb-admin-2.js" %>
    <%= javascript_include_tag "general.js" %>
    <%= javascript_include_tag "adjust_on_window_size.js" %>
</body>
</html>