<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="People Worldwide Japan">
    <meta name="author" content="People Worldwide Japan">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon.png">
    <%= stylesheet_link_tag "bootstrap.min.css", media: "all" %>
    <%= stylesheet_link_tag "font-awesome.min.css", media: "all" %>
    <%= stylesheet_link_tag "custom_styles.css" %>
    
    <title>People Worldwide Japan</title>    
    <%= stylesheet_link_tag "login_style", media: "all" %>
    <%= javascript_include_tag "jquery.min.js" %>
    <%= javascript_include_tag "general.js" %>
    <%= javascript_include_tag "adjust_on_window_size.js" %>
  </head>

  <body>    
    <%= yield :login %>
    <%= yield :footer %>
  </body>
</html>
