<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <%= wicked_pdf_stylesheet_link_tag "pdf_single_report.css", media: "all" %>
  </head>
<body>  
  <table cellpadding="0" cellspacing="0" style="width: 100%;">
    <tr>
      <td colspan="3">
        <%= wicked_pdf_image_tag pww_logo.logo.url(:medium).gsub('https', 'http'), :style => "height: 50px; margin-bottom: 5px;" %>
        <div class="address_text_holder">
          <%= raw(pww_logo.content) %>
        </div>
      </td>
    </tr>
    <tr>
      <td style="width: 27%; height: 100px; max-height: 100px;">
        <div style="display: inline-block;">
          <%if !applicant.profile_file_name.blank?  %>
            <%= wicked_pdf_image_tag applicant.profile.url(:medium).gsub('https', 'http'), :style => "height: 100px; max-width: 100px;" %>
          <% else %>
            <%= wicked_pdf_image_tag 'white.jpg', :style => "height: 100px; max-width: 100px;" %>
          <%end%>
        </div>
        <div style="display: inline-block;">
          <%if !applicant.wholebody.blank? %>
            <%= wicked_pdf_image_tag applicant.wholebody.url(:medium).gsub('https', 'http'), :style => "height: 60px; max-width: 60px;" %>
          <% else %>
            <%= wicked_pdf_image_tag 'white.jpg', :style => "height: 60px; max-width: 60px;" %>
          <%end%>
        </div>
      </td>
      <td class="text-left" style="width: 48%;">        
        <p class="name"><%= applicant.name %></p>
        <p class="japan_other"><%= applicant_code %> | <%= applicant.country.try(:en_name) %> | <%= applicant.religion.try(:en_name) %></p>
        <p class="header_link" style="padding-top: 7px;"><%= wicked_pdf_image_tag generate_icon('video-camera') %> <a href="<%=applicant.self_introduction_video_link%>" target='_blank'>自己紹介動画 / Self introducing video</a></p>
        <p class="header_link"><%= wicked_pdf_image_tag generate_icon('video-camera') %> <a href="<%=applicant.aptitude_test_link%>" target='_blank'>職業適性診断実施動画/Skill check video</a></p>
        <p class="header_link"><%= wicked_pdf_image_tag generate_icon('list') %> <a href="<%=applicant.psychometric_test_link%>" target='_blank'>適性診断結果 / Psychometric test result</a></p>
      </td>
      <td width="100px;" style="width: 30%; vertical-align: bottom;">
        <% if can? :update, Applicant %>          
          <div style="background-color: #F3F3F3; min-height: 65px; font-size: 10px; line-height: 8px; padding: 5px 2px 2px 5px;">
            <p><%= wicked_pdf_image_tag generate_icon('phone'), class: 'custom_icon' %> <%= applicant.phone %></p>
            <p><%= wicked_pdf_image_tag generate_icon('envelope'), class: 'custom_icon' %> <%= applicant.email %></p>
            <p class="address"><%= wicked_pdf_image_tag generate_icon('home'), class: 'custom_icon' %> <%= applicant.address %></p>
            <p><%= wicked_pdf_image_tag generate_icon('globe'), class: 'custom_icon' %><%= applicant.country.try(:en_name) %></p>
          </div>
        <% end %>
      </td>
    </tr>
  </table>
  <hr style="border: none; border-bottom: 1px solid #F3F3F3;">
</body>
</html>