<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <%= wicked_pdf_stylesheet_link_tag "pdf_single_report.css", media: "all" %>    
  </head>
<body>
  <%= yield %>          
</body>
</html>
