<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <%= wicked_pdf_image_tag 'pww_japan_small.png', :style => "height: 60px; padding-right: 5px;" %>
  </head>
<body style='margin:0;padding:0;'>  
  <h1>Aldrien Hate!</h1>
</body>
</html>