<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <%= wicked_pdf_stylesheet_link_tag "pdf_full_report.css", media: "all" %>
  </head>
<body style="padding: 0; margin: 0;">
<table class="pdf_header" cellpadding="0" cellspacing="0">
  <tr>
    <td class="full_report_header_td1" style="height: 70px;">
      <p class="company_name"><%= company_name %></p>
    </td>
    <td class="full_report_header_td2">
      <%= wicked_pdf_image_tag pww_logo.logo.url(:medium).gsub('https', 'http'), :style => "height: 60px; padding-right: 5px; margin-top: 0px;" %>
      <div class="address_text_holder">
        <%= raw(pww_logo.content) %>
      </div>
    </td>
  </tr>
</table>

<table class="full_report_table" cellpadding="0" cellspacing="0">
  <tr>
    <td class="content_header no_border_left" colspan="8" style="height: 40px;">Basic Information (基本情報)</td>
    <td class="content_header" rowspan="2" style="width: 70px; height: 155px;">今回の応募職種での職務経験<br>Work experience of the job you`re applying</td>
    <td class="content_header" rowspan="2" style="width: 50px;">英語での会話<br>English speaking skills</td>
    <td class="content_header" rowspan="2" style="width: 50px; word-break: break-word;">職業適性診断<br>Aptitude test<%= raw(aptitude_test) %></td>
    <td class="content_header" rowspan="2" style="width: 50px;">PWA日本語能力テスト<br>PWA Japanese skill test</td>
    <td class="content_header" rowspan="2" style="width: 50px;">IQ test</td>
    <td class="content_header no_border_right" rowspan="2" style="width: 150px;">備考<br>Remarks</td>
  </tr>
  
  <tr>
    <td class="content_header no_border_left" style="width: 70px;">Code No.</td>
    <td class="content_header" style="width: 48px;">顔写真<br>Photo</td>
    <td class="content_header" style="width: 120px;">氏名<br>Name</td>
    <td class="content_header" style="width: 50px;">性別<br>Gender</td>
    <td class="content_header" style="width: 67px;">出生国<br>Country of Birth</td>
    <td class="content_header" style="width: 40px;">年齢<br>Age</td>
    <td class="content_header" style="width: 50px;">婚姻状況<br>Marital Status</td>
    <td class="content_header" style="width: 135px;">最終学歴<br>Last Academic background</td>
  </tr>
</table>
</body>
</html>